<div class="model-details-page" file-drop="addImage($files)">
    
    <!--
        Sidebar
    -->
    <div class="sidebar">
        <header>
            <div class="profilePic" ui-if="model.images.length">
                <img ng-src="{{model.images[0].url}}" />
            </div>
            
            <h1><span>{{model.name}}<br />{{model.model}}</span></h1>
        </header>
        <nav>
            <ul>
                <li>
                    <div ng-click="update()">Save</div>
                </li>
				<!--
                <li>
                    <div ng-click="remove()">Delete</div>
                </li>
					-->
                <li>
                    <div ng-class="{'configuration': configuration}" ng-click="showAddUpholstery()">Add Upholstery</div>
                </li>
                    
            </ul>
        </nav>
    </div>
    
    
    
    
    <form class="workspace">
        
        <table class="details">
                
            <tr>
                <td><label>Model</label></td>
                <td>{{model.model}}</td>
            </tr>
            <tr>
                <td><label>Name</label></td>
                <td>{{model.name}}</td>
            </tr>
            <tr>
                <td><label>Collection</label></td>
                <td>{{model.collection}}</td>
            </tr>
            <tr>
                <td><label>Has Back Pillows</label></td>
                <td>
					<input type="checkbox" ng-change="update()" ng-model="model.has_back_pillows"/>
				</td>
            </tr>
           <tr>
               <td colspan="2">
				   <md-input-container>
				   	   <label>Frame</label>
					   <textarea ng-model="model.frame" cols="80"></textarea>
				   </md-input-container>
			   </td>
           </tr>
           <tr>
               <td colspan="2">
				   <md-input-container>
				   	   <label>suspension</label>
					   <textarea ng-model="model.suspension" cols="80"></textarea>
				   </md-input-container>
			   </td>
           </tr>
           <tr>
               <td colspan="2">
				   <md-input-container>
				   	   <label>cushions</label>
					   <textarea ng-model="model.cushions" cols="80"></textarea>
				   </md-input-container>
			   </td>
           </tr>
           <tr>
               <td colspan="2">
				   <md-input-container>
				   	   <label>upholstery</label>
					   <textarea ng-model="model.upholstery" cols="80"></textarea>
				   </md-input-container>
			   </td>
           </tr>
           <tr>
               <td colspan="2">
				   <md-input-container>
				   	   <label>legs</label>
					   <textarea ng-model="model.legs" cols="80"></textarea>
				   </md-input-container>
			   </td>
           </tr>
        </table>
		
		<div class="upholsteries-container">
			<div class="title-bar">
				<div><span>Description</span></div>
				<div><span>Price</span></div>
				<div><span>Export Price</span></div>
				<div><span>Width</span></div>
				<div><span>Depth</span></div>
				<div><span>Height</span></div>
			</div>
			<div class="upholsteries">
				<div class="upholstery" ng-repeat="uphol in upholsteries | orderBy: 'description' track by uphol.id">
					<div>
						<span>{{uphol.description}}</span>
						<md-button class="md-icon-button md-warn md-raised" ng-click="removeUpholstery(uphol, $index)">
							<i class="material-icons">remove</i>
						</md-button>
					</div>
					<div><input ng-model="uphol.price" ng-change="updateUpholstery(uphol)" /></div>
					<div><input ng-model="uphol.export_price" ng-change="updateUpholstery(uphol)" /></div>
					<div><input ng-model="uphol.width" ng-change="updateUpholstery(uphol)" /></div>
					<div><input ng-model="uphol.depth" ng-change="updateUpholstery(uphol)" /></div>
					<div><input ng-model="uphol.height" ng-change="updateUpholstery(uphol)" /></div>
				</div>
			</div>
		</div>
		<!--
		<md-card class="upholsteries">
			<md-card ng-repeat="uphol in upholsteries track by uphol.id">
				<md-card-title>
					<md-card-title-text>{{uphol.configuration.configuration}}</md-card-title-text>
				</md-card-title>
				<md-card-content>
				
					<md-input-container>
						<label>Price</label>
						<input ng-model="uphol.price" ng-change="updateUpholstery(uphol)" />
					</md-input-container>
					<md-input-container>
						<label>Export Price</label>
						<input ng-model="uphol.export_price" ng-change="updateUpholstery(uphol)" />
					</md-input-container>
					<md-input-container>
						<label>Width</label>
						<input ng-model="uphol.width" ng-change="updateUpholstery(uphol)" />
					</md-input-container>
					<md-input-container>
						<label>Depth</label>
						<input ng-model="uphol.depth" ng-change="updateUpholstery(uphol)" />
					</md-input-container>
					<md-input-container>
						<label>Height</label>
						<input ng-model="uphol.height" ng-change="updateUpholstery(uphol)" />
					</md-input-container>
				</md-card-content>
			</md-card>
		</md-card>
		-->
		<md-card class="gallery">
			<md-card ng-repeat="image in model.images" ng-class="{'primary': image.primary}">
				<md-card-title>
					<md-card-title-media>
						<div class="md-media-xl card-media">
							<img ng-src="{{image.url}}" />
						</div>
					</md-card-title-media>
				</md-card-title>
				<md-card-actions layout="row" layout-align="end center">
					<md-button class="md-icon-button" ng-click="makePrimaryImage(image)">
						<md-tooltip>
						    Make Primary Image
						</md-tooltip>
						<i class="material-icons primary-icon">star_rate</i>	
					</md-button>
					<md-button class="md-icon-button configuration" ng-click="image.configuration = !image.configuration; update()">
						<md-tooltip>
						    Set Configuration
						</md-tooltip>
						<i ng-if="!image.configuration" class="material-icons">check_box_outline_blank</i>
						<i ng-if="image.configuration" class="material-icons">check_box</i>
					</md-button>
					<md-switch class="web-switch" ng-model="image.web_active" ng-change="update()">
						
					</md-switch>		
	            	<md-button class="md-icon-button md-warn" ng-click="removeImage($index)">
						<md-tooltip>
						    Delete
						</md-tooltip>
						<i class="material-icons">delete</i>
					</md-button>          
		        </md-card-actions>
			</md-card>
			<!--
			<div class="img-container" ng-class="{primary: image.primary, configuration: image.configuration}" ng-repeat="image in model.images">
				<img ng-src="{{image.url}}" ng-click="makePrimaryImage(image)"/>
				
				<md-switch class="web-switch" ng-model="image.web_active" ng-change="update()"></md-switch>
			</div>
				-->
		</md-card>
			
			
            
            
        
    </form>
</div>