<div class="detailsPage" image-drop-target="upload()">
    
    <!--
        Sidebar
    -->
    <div class="sidebar">
        <header>
            <div class="profilePic" ui-if="model.image">
                <img ng-src="{{model.image.url}}" />
            </div>
            
            <h1><span>{{model.name}}<br />{{model.model}}</span></h1>
        </header>
        <nav>
            <ul>
                
                <li>
                    <div ng-click="remove()">Delete</div>
                </li>
                    
            </ul>
        </nav>
    </div>
    
    
    
    
    <form class="workspace">
        
        <table>
            <tr>
                
                <tr>
                    <td><label>Model</label></td>
                    <td>{{model.model}}</td>
                </tr>
                <tr>
                    <td><label>Name</label></td>
                    <td>{{model.name}}</td>
                </tr>
                <tr>
                    <td><label>Collection</label></td>
                    <td>{{model.collection}}</td>
                </tr>
               
            </table>
            
            
        
    </form>
</div>