<div class="model-view-page">
                
    <div class="workspace">
		
		<md-toolbar layout="column">
			<div class="menu-container" layout="row">
				<h3><span>Models</span></h3>
				<div flex></div>
				<md-button class="md-icon-button md-accent md-raised" ng-show="currentUser.hasPermission('add_model')" ng-href="#/product/model/add">
					<i class="material-icons">add</i>
				</md-button>
				<input class="search" type="text" ng-model="query.$.$" />
			</div>
			<div class="title-bar" layout="row">
				<div class="preview">PREVIEW</div>
				<div class="model">MODEL</div>
				<div class="name">NAME</div>
				<div class="web-active">WEBSITE</div>
				
				<div class="properties">HAS ARMS</div>
				<div class="properties">ARM WIDTH</div>
				<div class="properties">ARM HEIGHT</div>
				<div class="properties">BASE HEIGHT</div>
				<div class="properties">BACK DEPTH</div>
				<div class="back-pillow">BACK PILLOWs</div>
			</div>
		</md-toolbar>
		
		<md-content>
			<div class="models">
		    	<div class="outer-container" on-scroll-end="loadNext()"> 
			
			    	<ul class="inner-container" >
			    		<li class="item-container" data-ng-repeat="model in models | filter:query track by $index">	
			    			<div class="item" ng-class="{'selected':ack.$selected}">
								<a class="preview col" ng-href="#/product/model/{{model.id}}">
									<img ng-src="{{model.images[0].url}}" />
								</a>
								<a class="model col" ng-href="#/product/model/{{model.id}}">{{model.model}}</a>
								<a class="name col" ng-href="#/product/model/{{model.id}}">{{model.name}}</a>
								<div class='web-active col'>
									<md-switch ng-model="model.web_active"></md-switch>
								</div>
								<div class='properties col'>
									<md-switch ng-model="model.has_arms"></md-switch>
								</div>
								<div class='properties col'><input type="text" ng-model="model.arm_width" /></div>
								<div class='properties col'><input type="text" ng-model="model.arm_height" /></div>
								<div class='properties col'><input type="text" ng-model="model.base_height" /></div>
								<div class='properties col'><input type="text" ng-model="model.back_depth" /></div>
								<div class='back-pillow col'>
									<md-switch ng-model=model.has_back_pillows></md-switch>
								</div>
							</div>
			    		</li>
			    	</ul>
		    	</div>
			</div>
			
		</md-content>
    </div>
</div>