
.supplier-details-page{
  
  .detailsPage;
  background:rgba(255, 255, 255, 1);
  left:0;
  
  	.workspace{
      	overflow-y:scroll;
	  	background:rgba(255, 255, 255, 1);
		overflow-y:scroll;
		padding-left:2em;
		padding-top:2em;
		
	  	.supplier-details{
			display:flex;
			flex-direction:column;
			width:40em;

			.bank-details{
				.flex;
				.flex-direction(row);
				.justify-content(flex-start);
				.align-items(flex-start);

				md-input-container:first-child{
					margin-right:2em;
					width:15em;
				}

				md-input-container:last-child{
					width:25em;
				}
			}
			
			.input-containers{
				display:flex;
				flex-direction:row;
				justify-content:space-between;
				align-items:center;
				
				md-input-container{
					margin-right:1.25em;
					
					&.name{
						width:40em;
					}
					
					&.telephone{
						width:12em;
					}
					
					&.fax{
						width:12em;
					}
					
					&.email{
						width:12em;
					}
					
					&.address{
						width:40em;
					}
					
					&.city{
						width:12em;
					}
					
					
					&.territory{
						width:12em;
					}
					
					&.country{
						width:8em;
					}
				
					&.zipcode{
						width:4em;
					}
					
					input{
						//border:1px solid;
						//background:#CCC;
					}
				}
				
				
				
			}
	  	}
      .details{
          width:auto;
          tr{
              td{ 
                  color:#666;
                  padding: 0.5em;
                  .input-style{
                    border:none;
                    color:#999;
                    font-size:1em;
                    outline:none; 
                    
                  }
                  input{
                      
                  }
                  textarea{
                      .input-style;
                      .transition(all, 250ms, linear);
                       height:4em;
                       width:8em;
                       padding:0.4em;
                       &:focus{
                          height:8em;
                          width:20em;
                       }
                  }
                
                
              }
          }
      }
		
    	.map-container{
        	position:absolute;
        	top:1em;
        	right:1em;
        	bottom:1em;
        	left:50em;
          
        	#supplier-map{
            	height:100%;
            	width:100%
        	}
    	}
  	}
  
  	//View Supplier Contacts
  	.supplierContacts{
    	background:#FFFFFF;
    	min-width:40em;
		margin-top:5em;
		
		thead{
			tr{
				background-color:rgb(96,125,139);
			
				th{
					font-family:proxima;
					color:rgba(255, 255, 255, 1);
					padding:1em;
				}
			}
		}
	
    	tbody{
      	  	margin-top:10px;
		  	
			tr{
				td{
					padding:0.5em;
					border-left:1px dotted rgba(0, 0, 0, 0.35);
					border-bottom:1px dotted rgba(0, 0, 0, 0.35);
					
					&:first-child{
						border-left:none;
					}
					
					&:last-child{
						border-left:none;
						text-align:right;
						padding-right:1em;
					}
				}
			}
    	}
  	}
}
