.model-details-page{
  	left:200px;
  	right:0px;
  	top:0;
  	bottom:0;
  	background:#313131;
  	position:absolute;
  	font-family:proxima;
  
  	.sidebar{
  		left:-200px;
		
		li{
			div{
				&.configuration{
					background-color:red;
				}
			}
		}
  	}
	
  	.workspace{
      	position:absolute;
      	width:100%;
      	height:100%;
      	background-color:rgb(255, 255, 255);
	 	overflow-y:scroll;
		
	 	.details{
	 		margin:1em;
			 
			tr{
				
				td{
					padding:1em;
					
					&:last-child{
						padding-left:1em;
					}
				}
			}
	 	}
		.gallery{
			height: 45em;
			width:45em;
			display:flex;
			flex-direction:row;
			flex-wrap:wrap;
			align-content:flex-start;
			
			.img-container{
				position:relative;
				height:10em;
				width:10em;
				margin-left:1em;
				margin-top:1em;
				overflow:hidden;
				box-shadow:2px 1px 10px rgba(0, 0, 0, 0.15);
				display:flex;
				align-items:flex-start;
				cursor:pointer;
				
				&.primary{
					border:1px dotted blue;
				}
				
				&.configuration{
					border:1px dotted orange;
				}
				
				img{
					width:100%;
				}
				
				.web-switch{
					position:absolute;
					bottom: 0em;
					left: 0;
					z-index:10;
				}
			}
			
		}
	}
  
  
}