


.model-view-page{
  	.viewPage;
  	left:0;
  
	@model:10%;
	@preview:20%;
	@name:10%;
	@web-active:10%;
	@properties:6%;
	@back-pillow:10%;
	@type:10%;

  	.workspace{
        position:absolute;
        top:0;
        bottom:0;
        left:0;
		right:0;
		background:#FFF;
		
		md-toolbar{
			
			.menu-container{
				width:100%;
				padding:0.5em 1em;
				
				.search{
					color:rgb(0, 0, 0);
					font-family:proxima;
					outline:none;
					margin:0 1em;
					padding:0 1em;
				}
			}
			
			.title-bar{
				display:flex;
				flex-direction:row;
				border-bottom: 1px solid #4F6874;
				border-top: 1px solid #4F6874;
				background-color:rgb(96,125,139);
				width:100%;
				padding:0;
		
				div{
					display:flex;
					flex-direction:row;
					align-items:center;
					justify-content:space-around;
					padding:0;
					background:#607d8b;
					color:rgba(255, 255, 255, 1);
					border-left:1px dotted rgba(0, 0, 0, 0.35);
					font-size:0.8em;
					
					&:first-child{
						border-left:none;
					}
		
					&.preview{
						width:@preview;
					}

					&.model{
						width:@model;
					}

					&.name{
						width:@name;
					}

					&.type{
						width:@type;
					}
					
					&.web-active{
						width:@web-active;
					}
		
					&.properties{
						width:@properties;
					}

					&.back-pillow{
						width:@back-pillow;
					}
				}
			}
		}
		
		md-content{
			display:flex;
			flex-wrap:nowrap;
			width:100;
			position:relative;
			height:100%;
			
			
		
			.models{
				width:100%;
				height:100%;
				position:absolute;
				top:0;
				left:0;
				z-index:1;
			
				.title-bar{
					display:flex;
					flex-direction:row;
					border-bottom: 1px solid #4F6874;
					background-color:rgb(96,125,139);
					width:100%;
			
					div{
						display:flex;
						flex-direction:row;
						align-items:center;
						justify-content:space-around;
						padding:0;
						background:rgb(96,125,139);
						color:rgba(255, 255, 255, 1);
						border-left:1px dotted rgba(0, 0, 0, 0.35);
			
						&:first-child{
							border-left:none;
						}
			
						&.preview{
							width:@preview;
						}
	
						&.model{
							width:@model;
						}
	
						&.name{
							width:@name;
						}

						&.type{
							width:@type;
						}
						
						&.web-active{
							width:@web-active;
						}
			
						&.properties{
							width:@properties;
						}
	
						&.back-pillow{
							width:@back-pillow;
						}
					}
				}
	
		        .outer-container{
		            height:100%;
		            overflow-y:scroll;
					width:100%;
		
		            .inner-container{
		                width:100%;
		                height:auto;
		                .item-container{
							@cell-height:7em;
							
		                    width:100%;
		                    position:relative;
		                    height:@cell-height;
							display:flex;
							flex-direction:column;
							overflow:hidden;
							z-index:0;
	                                    		
		                    .item{
								display:flex;
								flex-direction:row;
		                        width:100%;
		                        background-color:#FFF;
		                        left:0;
								top:0;
		                        font-size:1em;
		                        height:@cell-height;
		                        border-bottom:1px dotted rgba(0, 0, 0, 0.35);
		                        text-decoration:none;
		                        color:#000;
		                        cursor:pointer;
		                        .transition(all, 150ms, linear);
                      
								&:hover{
		                            background-color:#E4EEF4;
									
									.col{
										input[type=text]{
				                            background-color:#E4EEF4;
											
										}
									}
		                        }
                      
		                        &.selected{
		                            background-color:orange;
		                        }
					
                      
								.col{
									display:flex;
									flex-direction:row;
									align-items:center;
									padding:0;
									justify-content:center;
									border-left:1px dotted rgba(0, 0, 0, 0.35);
									text-decoration:none;
									color:rgb(0, 0, 0);
									
									&:first-child{
										border-left:none;
									}
									
									&.preview{
										width:@preview;
										img{
											width:100%;
										}
									}
				
									&.model{
										width:@model;
									}
				
									&.name{
										width:@name;
									}

									&.type{
										width:@type;
									}
									
									&.web-active{
										width:@web-active;
									}
						
									&.properties{
										width:@properties;
										padding:0;
										justify-content:space-around;
									}
				
									&.back-pillow{
										width:@back-pillow;
										padding-left:0.2em;
									}
									
									
									
									input[type=text]{
										background:white;
										height:@cell-height;
										width:100%;
										color:rgb(0, 0, 0);
										border:none;
										text-align:center;
										
										.transition(all, 150ms, linear);
									}
									
									input[type=checkbox]{
									}
								}
		                    }
		                }
		            }
		        }
			}
		}   
  	}
}
