.user-view-page{
    .view-page;
    .workspace{
        .header{
          .cell{
       
              &.id{
                text-align:center;
                width:10%; 
                padding:0.01em;
                img{
                    width:100%;
                    vertical-align:middle;
                }
              }
              &.name{
                  width:30%;
              }
              &.email{
                  text-align:center;
                  width:30%;
              }
              &.last-login{
                  text-align:center;
                  width:30%;
              }
             
             
          }
        }
        .listContainer{
          .header;
      }
    }
}
