<div class="supply-details-page" image-drop-target="upload()">
	<!--
        Sidebar
    -->
	<div class="sidebar">
		<header>
			<div class="profilePic" ui-if="supply.image">
				<img ng-src="{{supply.image.url}}" />
			</div>
			<h1><span>{{supply.description}}</span></h1>
		</header>
		<nav>
			<ul>
				<li>
					<div ng-click="showQuantity=true; action = 'add'">Add</div>
				</li>
				<li>
					<div ng-click="showQuantity=true; action='subtract'">Subtract</div>
				</li>
				<!--
                <li>
                    <div ng-click="viewLog();showLog=!showLog">View Log</div>
                </li>
                -->
				<li ui-if="currentUser.hasPermission('delete_supply')">
					<div ng-click="remove()">Delete</div>
				</li>
			</ul>
		</nav>
	</div>
	<!--
    	Modals
    -->
	<div name="quantity" modal ng-model="showQuantity">
		<div class="title">{{action}}</div>
		<div class="container">
			<table>
				<tbody>
					<tr>
						<td>Quantity to {{action}}</td>
						<td>
							<input type="text" ng-model="quantity" />
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="bottom-bar">
			<button ng-click="changeQuantity(action, quantity)">{{action}}</button>
		</div>
	</div>
	<form class="workspace">
		<table class="details">
			<tbody>
				<tr>
					<td>
						<label>Supplier</label>
					</td>
					<td>{{supply.supplier.name}}</td>
				</tr>
				<!--
                <td><label>Location</label></td>
                    <td><input type="text" ng-model="supply.location" ec-blur="update()" /></td>
                </tr>
               -->
				<tr>
					<td>
						<label>Description</label>
					</td>
					<td>
						<input size="40" type="text" ng-model="supply.description" ec-blur="update()" />
					</td>
				</tr>
				<tr>
					<td>
						<label>Description (Thai)</label>
					</td>
					<td>
						<input size="40" type="text" ng-model="supply.description_th" ec-blur="update()" />
					</td>
				</tr>
				<tr>
					<td>
						<label>Reference Number</label>
					</td>
					<td>
						<input type="text" ng-model="supply.reference" ec-blur="update()" />
					</td>
				</tr>
				<tr>
					<td>
						<label>Type</label>
					</td>
					<td>
						<select ng-model="supply.type">
							<option value="metal">Metal</option>
							<option value="wood">Wood</option>
							<option value="foam">Foam</option>
							<option value="polishing">Polishing</option>
							<option value="canvas">Canvas</option>
							<option value="glue">Glue</option>
							<option value="fiber">Fiber</option>
							<option value="packaging">Packaging</option>
							<option value="nail">Nail</option>
							<option value="screw">Screw</option>
							<option value="staple">Staple</option>
						</select>
					</td>
				</tr>
				<tr ui-if="showWidth()">
					<td>
						<label>Width</label>
					</td>
					<td>
						<input size="6" class="length" type="text" ng-model="supply.width" ec-blur="update()" ng-pattern="/^[0-9](\d+)?(\.\d{2})?$/" />
						<select ng-model="supply.width_units" ng-options="key as value for (key, value) in units" ng-change="update()"></select>
					</td>
				</tr>
				<tr ui-if="showDepth()">
					<td>
						<label>Depth</label>
					</td>
					<td>
						<input size="6" class="length" type="text" ng-model="supply.depth" ec-blur="update()" ng-pattern="/^[0-9](\d+)?(\.\d{2})?$/" />
						<select ng-model="supply.depth_units" ng-options="key as value for (key, value) in units" ng-change="update()"></select>
					</td>
				</tr>
				<tr ui-if="showHeight()">
					<td>
						<label>Height</label>
					</td>
					<td>
						<input size="6" class="length" type="text" ng-model="supply.height" ec-blur="update()" ng-pattern="/^[0-9](\d+)?(\.\d{2})?$/" />
						<select ng-model="supply.height_units" ng-options="key as value for (key, value) in units" ng-change="update()"></select>
					</td>
				</tr>
				<tr>
					<td>
						<label>Units</label>
					</td>
					<td>
						<select ng-model="supply.units" ng-options="key as value for (key, value) in units" ng-change="update()">
							<!--
                    		<option value="m">Meter</option>
                    		<option value="mm">Millimeter</option>
                    		<option value="yd">Yard</option>
                    		<option value="kg">Kilogram</option>
							<option value="pc">Piece</option>
							<option value="pack">Pack</option>
							<option value="container">Container</option>
							-->
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label>Cost per {{units[supply.units]}}</label>
					</td>
					<td>
						<input class="price" type="text" ng-model="supply.cost" ec-blur="update()" ng-pattern="/^[0-9](\d+)?(\.\d{2})?$/" />{{supply.supplier.currency}}</td>
				</tr>
				<tr>
					<td>
						<label>Discount</label>
					</td>
					<td>
						<input class="price" size="3" maxlength="2" type="text" ng-model="supply.discount" ec-blur="update()" ng-pattern="/^[0-9](\d+)?(\.\d{2})?$/" />%</td>
				</tr>
				<tr>
					<td>
						<label>Current Quantity</label>
					</td>
					<td>{{supply.quantity}} {{supply.units}}</td>
				</tr>
				<tr>
					<td>
						<label>Notes</label>
					</td>
					<td>
						<textarea ng-model="supply.notes" rows="10" cols="40"></textarea>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>