
.customer-details-page{
    
	
  	.workspace{
		position:absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
	  	background-color:#f2f4f5;
		
		md-content{
			width:100%;
			.flex;
			flex-direction:column;
			align-items:flex-start;
			height:100%;
			overflow-y:scroll;
			
			section{
				width:20%;
				min-width:20em;
				
				md-card{
					width:95%;
					display:block;
					min-height:initial;
				
					&.summary{
						div{
							color:rgba(0, 0, 0, 0.7);
							.flex;
							align-items:center;
							
							i{
								margin-right:0.5em;
								font-size:0.8em;
							}
							
							span{
								font-size:0.8em;
							}
						}
					}
				
					&.customer{
						width:95%;
						.flex;
						justify-content:center;
						
						md-card-content{
							table{
								width:100%;
								margin:1;
								tr{
									td{
										padding:0.5em 0;
										font-size:0.8em;
									
										&:first-child{
											text-align:right;
											padding-right:0.75em;
											color:rgba(0, 0, 0, 0.65);
											white-space:nowrap;
											
										}
									
										input{
											border:none;
											padding:0.25em 0;
											outline:none;
											.transition(background, 250ms);
											
											&:focus{
												background:rgb(234, 234, 234);
											}
										
											&:hover{
												background:rgb(234, 234, 234);
											}
										}
									
										md-select{
											margin:0;
										}
									}
								}
							}
						}
						
					}
				
					&.contacts{
						margin-bottom:10em;
					
					
						md-card-content{
							.flex;
							flex-wrap:wrap;
							flex-direction:row;
							justify-content:flex-start;
						
						
							md-card.new-contact{
								width:100%;
						
								md-card-content{
									div{
										.flex;
										justify-content:center;
								
										md-input-container{
											margin:0.5em 0;
											
											&:last-child{
												margin-bottom:0;
											}
										}
									}
							
								}
								
								md-card-actions{
									.flex;
								}
							}
						
							md-card.contact{
								width:100%;
							
								.contact-info{
									.flex;
									flex-direction:column;
									align-items:flex-start;
									width:100%;
									
									h5{
										margin-bottom:0.5em;
									}
								
									div{
										.flex;
										align-items:center;
										width:100%;
										
										i{
											font-size:0.8em;
											margin-right:0.5em;
										}
								
										input{
											font-size:0.8em;
											border:none;
											outline:none;
											padding:0.25em 0;
											.flex;
											flex-grow:2;
											
											&:hover{
												background:rgb(234, 234, 234);
											}
											&:focus{
												background:rgb(234, 234, 234);
											}
										}
									}
								}
							}
						}
					}
				}
			}
			
		}
      
      	.map-container{
          	position:absolute;
          	top:1em;
          	right:1em;
          	bottom:1em;
          	left:30em;
            
          	#customer-map{
              	height:100%;
              	width:100%
          	}
      	}
  	}
}
