
.customer-details-page{
  
	.detailsPage;
  
  	left:0;
	
  	.workspace{
		left:0;
	  	background-color:rgb(255, 255, 255);
	  
      	.customer{
          	margin-left:1em;
          	margin-top:1.5em;
			width:28em;
          	color:rgb(0, 0, 0);
		  
        
          	tr{
              	td{
                  	font-size:1em;
					
                  	//States
                
                  	&:last-child{
                      	padding-left:20px;   
                  	}
				  
				  	input{
				   		background-color:rgb(255, 255, 255);
						color:rgb(0, 0, 0);
						border:1px solid rgb(0, 0, 0);
				  	}
              	}
			}
      	}
      
      	.addresses{
          	margin-left:1em;
          	margin-top:1em;
			width:28em;
		  
		  	.title{
		  		
		  	}
			
			.md-button{
				margin-top:0.5em;
				
				&.add{
					margin-bottom:1em;
				}
			}
			
		  	.address{
		  		padding:1em;
				border: 1px dotted rgba(0, 0, 0, 0.35);
				
				&.hover{
					background-color:rgba(0, 0, 0, 0.15);
				}
				
				tr{
					td{
						display:flex;
						justify-content:space-between;
						
						input{
					   		background-color:rgb(255, 255, 255);
							color:rgb(0, 0, 0);
							border:1px solid rgb(0, 0, 0);
							width:13.5em;
					
							&.address1{
								width:28em;
							}
					
							&.address2{
								width:28em;
							}
					
						}
					}
				}
				
				.md-button{
					display:inline;
					margin-right:0.5em;
				}
		  	}
     	}
      
      	.map-container{
          	position:absolute;
          	top:1em;
          	right:1em;
          	bottom:1em;
          	left:30em;
            
          	#customer-map{
              	height:100%;
              	width:100%
          	}
      	}
  	}
}
