<div name="form" novalidate class="supply-scanner" modal="visible" title="Scan supply">
	<div class="container">
		<div>
			<table>
				<tr class="description">
					<td>Description</td>
					<td>{{supply.description}}</td>
				</tr>
				<tr class="width">
					<td>Width</td>
					<td>{{supply.width}}</td>
				</tr>
				<tr class="depth">
					<td>Depth</td>
					<td>{{supply.depth}}</td>
				</tr>
				<tr class="height">
					<td>Height</td>
					<td>{{supply.height}}</td>
				</tr>
				<tr class="quantity">
					<td>Quantity</td>
					<td>{{supply.quantity}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>