<div class="supply-list" modal="visible" title="Select a Supply">
	<div class="container">
		<div search-bar data-ng-model="query">
			<div class="filter-by">Filter By:
				<select ng-model="search.type" ng-options="t|beautify for t in types">
					<option value="">All</option>
				</select>
			</div>
		</div>
		<div class="inner-container" on-scroll-end="loadNext()">
			<ul class="customer-container">
				<li class="supply" ng-class="{'selected':supply.$selected}" ng-click="select(supply)" ng-repeat="supply in supplies | filter:search:strict | filter:query | orderBy:'description'">
					{{supply.description}}
					<span class="cost">{{supply.unit_cost || cost}}{{supplier.currency}}</span>
				</li>
			</ul>
		</div>
	</div>
</div>