<md-dialog class="add-employee">
	<md-subheader>
		Create A New Employee
	</md-subheader>
		<form name="form">
		
			<md-content>
					<div layout="row" layout-align="start start">
						<md-input-container flex="40">
							<label>ชื่อ/Name</label>
							<input type="text" ng-model="employee.name" />
						</md-input-container>
						<md-input-container>
							<label>Status</label>
							<md-select ng-model="employee.status" required>
								<md-option value='active'>Active</md-option>
								<md-option value='probation'>Probation</md-option>
								<md-option value='fired'>Fired</md-option>
								<md-option value='quit'>Quit</md-option>
							</md-select>
						</md-input-container>
					</div>
					<div layout="row" layout-align="start start">
						<md-input-container flex="30">
							<label>National ID/Passport ID</label>
							<input type="text" ng-model="employee.government_id" />
						</md-input-container>
						<md-input-container>
							<label>แผนก/Department</label>
							<md-select ng-model="employee.department">
								<md-option value='woodworking'>ไม้/Woodworking</md-option>
								<md-option value='painting'>สี/Painting</md-option>
								<md-option value='polishing'>ปัดเงา/Polishing</md-option>
								<md-option value='packing'>Packing</md-option>
								<md-option value='upholstery'>หุ้ม/Upholstery</md-option>
								<md-option value='sewing'>เย็บ/Sewing</md-option>
								<md-option value='cutting fabric'>ตัดผ้า/Cutting Fabric</md-option>
								<md-option value='foam'>ฟองน้ำ/Foam</md-option>
								<md-option value='housekeeping'>แม่บ้าน/Housekeeping</md-option>
								<md-option value='accounting'>บัญชี/Accounting</md-option>
							</md-select>
						</md-input-container>
						<md-input-container>
							<label>Company</label>
							<md-select ng-model="employee.company" required>
								<md-option value='dellarobbia'>Dellarobbia</md-option>
								<md-option value='pci'>Pacific Carpet</md-option>
							</md-select>
						</md-input-container>
						
					</div>
					<div layout="row">
						<md-input-container>
							<label>Card Number</label>
							<input type="text" ng-model="employee.card_id" />
						</md-input-container>
						<md-input-container>
							<label>Bank</label>
							<md-select ng-model="employee.bank">
								<md-option value="thanachart">Thanachart</md-option>
								<md-option value="kasikorn">Kasikorn</md-option>
								<md-option value="bangkok bank">Bangkok Bank</md-option>
								<md-option value="SCB">SCB</md-option>
								<md-option value="krungsri">Krungsri</md-option>
								<md-option value="khrung thai bank">Khrung Thai Bank</md-option>
							</md-select>
						</md-input-container>
						<md-input-container>
							<label>Bank Account Number</label>
							<input type="text" ng-model="employee.account_number">
		
					</div>
					<div layout="row">
						<md-input-container>
							<label>สัญชาติ/Nationality</label>
							<md-select ng-model="employee.nationality" required>
								<md-option value='thai'>ไทย/Thai</md-option>
								<md-option value='cambodian'>กัมพูชา/Cambodian</md-option>
								<md-option value='burmese'>พม่า/Burmese</md-option>
								<md-option value='laos'>ลาว/Laos</md-option>
								<md-option value='vietnam'>เวียตนาม/Vietnam</md-option>
							</md-select>
						</md-input-container>
						
						
						<md-input-container>
					    	<label>Shift Schedule</label>
							<md-select ng-model="employee.shift" ng-model-options="{trackBy: '$value.id'}" required>
								<md-option ng-value="shift" ng-repeat="shift in shifts">{{shift.start_time + ' - ' + shift.end_time}}</md-option>
							</md-select>
						</md-input-container>
					</div>
					<div layout="row">
						<md-input-container>
							<label>ประเภทการจ่ายเงิน/Payment Type</label>
							<md-select ng-model="employee.pay_period" required>
								<md-option value='daily'>รายวัน/Daily</md-option>
								<md-option value='monthly'>รายเดือน/Monthly</md-option>
							</md-select>
						</md-input-container>
						<md-input-container ng-if="currentUser.hasPermission('can_view_pay_rate')">
							<label>Pay Rate</label>
							<input type="number" ng-model="employee.wage" />
						</md-input-container>
						<md-input-container>
							<label>Payment Option</label>
							<md-select ng-model="employee.payment_option" required>
								<md-option value='cash'>เงินสด/Cash</md-option>
								<md-option value='direct deposit'>โอนเข้าธนาคาร/Direct Deposit</md-option>
							</md-select>
						</md-input-container>
					</div>
				<!--
				<div image-uploader url="api/v1/employee/image/" on-upload="addImage(data)" square="true"></div>
					-->
					
					
			</md-content>
					<md-action>
						<md-button class="md-raised md-accent" ng-disabled="form.$invalid" ng-click="create()">Create</md-button>
					</md-action>
					</form>
	
</md-dialog>