<md-dialog class="add-phase">
	<md-subheader>Add a phase for project {{ctrl.parent.project.codename}}</md-subheader>
	<div class="container">
		<md-content>
			<form name="ctrl.parent.form">
				<table>
					<tr>
						<td>
							<md-input-container>
								<label>Phase Description</label>
								<input type="text" ng-model="ctrl.parent.phase.description" required>
							</md-input-container>
						</td>
					</tr>
					<tr>
						<td>
							<md-input-container>
								<label>Quantity</label>
								<input type="text" ng-model="ctrl.parent.phase.quantity" required>
							</md-input-container>
						</td>
					</tr>
				</table>
				<div ui-date ng-model="ctrl.parent.phase.due_date"></div>
			</form>
		</md-content>
	</div>
	<md-action>
		<md-button class="md-primary md-raised" ng-click="ctrl.parent.completeAddPhase()">ADD</md-button>
		<md-button class="md-primary md-raised" ng-click="ctrl.parent.cancelAddPhase()">CANCEL</md-button>
	</md-action>
</md-dialog>