<md-dialog class="add-supplier-contact">
	<md-subheader>Add Contact</md-subheader>
	<div class="container">
		<md-content>
			<form name="ctrl.parent.form">
				<table>
					<tr>
						<td>
							<md-input-container>
								<label>Room</label>
								<input type="text" ng-model="ctrl.parent.room.description" list="room-name" required>
								<datalist id="room-name">
									<select ng-model='selectedType' ng-options="k | beautify as v for (k, v) in roomTypes"></select>
								</datalist>
							</md-input-container>
						</td>
					</tr>
				</table>
			</form>
		</md-content>
	</div>
	<md-action>
		<md-button class="md-primary md-raised" ng-click="ctrl.parent.completeAddRoom()">ADD</md-button>
		<md-button class="md-primary md-raised" ng-click="ctrl.parent.cancelAddRoom()">CANCEL</md-button>
	</md-action>
</md-dialog>