<md-dialog class="change-password">
	<md-dialog-title><label>Reset Password</label></md-dialog-title>
	<md-dialog-content>
		
		<div class="password-input-container">
				<md-input-container>
					<label>New Password</label>
					<input type="text" ng-model="new_password" required>
				</md-input-container>
				<md-input-container>
					<label>Repeat Password</label>
					<input type="text" ng-model="repeat_password" required>
				</md-input-container>
		</div>
			
	</md-dialog-content>
	<md-dialog-actions>
		<md-button class="md-primary md-raised" ng-disabled="!valid()" ng-click="changePassword()">Reset</md-button>
		<md-button class="md-primary md-raised" ng-click="cancel()">CANCEL</md-button>
	</md-dialog-actions>
</md-dialog>