<div class="supply-directive">
	<div class="img-container" ng-click="activate()">
		<input type="file" ng-model="supply.raw_image" class="image-capture" accept="image/*" capture="camera" onchange="angular.element(this).scope().addImage(this, angular.element(this).scope().supply)">

		<img ng-src="{{supply.image.url}}" />
	</div>
	<div class="short-details details" ng-click="activate()"> 
		<span class="description">
			{{supply.description}}
		</span>
		<span class="quantity">
			Qty: {{supply.quantity}}{{supply.units}}
		</span>
	</div>
	<div class='loading-notification' ng-class="{'active': !fetched}">
		<span>Loading</span>
	</div>
	
	<div class="supply-details">
		
		
			
	</div>
		
</div>