<md-dialog class="supply-scanner" aria-label="Supply Checkout">
	<md-subheader class="supply" ui-if="!po">Supply Checkout</md-subheader>
	<md-subheader class="po ng-hide" ui-if="po">Check in Purchase Order {{po.id}}</md-subheader>
	<div class="container">
		<div ng-hide="employee" class="employee-placeholder">
			<h2>Employee</h2>
		</div>
		<div ng-show="employee" class="employee">
			
			<div class="img-container">
				<img ng-src="{{employee.image.url}}" />
			</div>
			<h3>{{employee.name}}</h3>
			<h2>{{employee.department}}</h2>
		</div>
		<div ng-hide="supplies.length > 0 || equipmentList.length > 0 || po" class="supplies-placeholder">
			<h2>Supplies</h2>
		</div>
		<md-content ng-show="supplies.length > 0 || equipmentList.length > 0 || po">
			<md-list>
				<md-item ng-repeat="item in po.items">
					<md-item-content>
						<div class="img-container">
							<img ng-src="{{item.image.url}}" />
						</div>
						<h3>{{item.description}}</h3>
						<div class="item-ctrl">
							<!--
							<md-radio-group ng-model="item.$$action">
						      	<md-radio-button checked="checked" value="subtract" aria-label="Subtract">Subtract</md-radio-button>
						      	<md-radio-button value="add" aria-label="Add">Add</md-radio-button>
						    </md-radio-group>
								-->
							Quantity: {{item.quantity}}
							<md-button class="md-warn" ng-click="removeItem($index)">Remove<md-button>
						</div>
					</md-item-content>
					<md-divider></md-divider>

				</md-item>
				<md-item class="equipment" ng-repeat="equipment in equipmentList">
					<md-item-content>
						<h3>
							{{equipment.brand}} {{equipment.description}} 
						</h3>
						<div class="item-ctrl">
							<md-radio-group ng-model="employee.status">
						      	<md-radio-button value="Checked In" aria-label="Checked In">
									Checked In
								</md-radio-button>
						      	<md-radio-button value="Checked Out" aria-label="Add">
									Checked Out
								</md-radio-button>
						    </md-radio-group>
						</div>
					</md-item-content>
				</md-item>
				<md-item>
					<md-item-content ng-class="{'warn': supply.$$quantity > supply.quantity && supply.$$action == 'subtract'}" ng-repeat="supply in supplies">
						<div class="img-container">
							<img ng-src="{{supply.image.url}}" />
						</div>
						<h3>{{supply.description}} <br/>  Qty:{{supply.quantity}}</h3>
						
						<div class="item-ctrl">
							<md-radio-group ng-model="supply.$$action">
						      	<md-radio-button checked="checked" value="subtract" aria-label="Subtract">Subtract</md-radio-button>
						      	<md-radio-button value="add" aria-label="Add">Add</md-radio-button>
						    </md-radio-group>
							<md-text-float type="number" label="Quantity" required ng-model="supply.$$quantity"></md-text-float>
							<md-button class="md-warn" ng-click="remove($index, supply)">Remove<md-button>
						</div>
					</md-item-content>
				</md-item>
			</md-list>
		</md-content>
	</div>
	<md-divider>
	</md-divider>
	<md-action>
		<select ng-options="po.id for po in poList" ng-model="po"></select>
	 	<md-button class="md-accent" ng-show="po" ng-click="checkout()">Check In</md-button>
	
		<md-button class="md-accent" ng-hide="po"  ng-click="checkout()">Checkout</md-button>

	</md-action>
</md-dialog>
