<div name="form" novalidate class="supply-scanner" modal="visible" title="Scan supply" >
	<div class="container">
		<div class="ready-container" ng-hide="supply">
			<div class="inner-container">
				<h2>
					Waiting for barcode scan...
				</h2>
			</div>
		</div>
		<div class="supply-container">
			<div class="supply">
				<div class="image-container" ng-click="showAddImage=true">
					<img ng-hide="showAddImage" ng-src="{{supply.image.url}}" center="true"/>
					<div ng-show="showAddImage" image-uploader url='/api/v1/supply/image' on-upload="addImage(data)"></div>
				</div>
				<table class="supply-details">
					<tr class="description">
						<td>Description</td>
						<td>{{supply.description}}</td>
					</tr>
					<tr class="width">
						<td>Width</td>
						<td>{{supply.width}}{{supply.width_units}}</td>
					</tr>
					<tr class="depth">
						<td>Depth</td>
						<td>{{supply.depth}}{{supply.depth_units}}</td>
					</tr>
					<tr class="height">
						<td>Height</td>
						<td>{{supply.height}}{{supply.height_units}}</td>
					</tr>
					<tr>
						<td class="quantity" ng-class="{'ok':supply.quantity>0, 'warning':supply.quantity==0}">Quantity(ปริมาณ)</td>
						<td class="quantity" ng-class="{'ok':supply.quantity>0, 'warning':supply.quantity==0}">
								{{supply.quantity | number:fractSize()}} {{supply.units}}
						</td>
					</tr>
				</table>
			</div>
		
			<div class="quantity-container">
				<h3>Quantity</h3>
				<input class="quantity" type="text" size="5" autofocus ng-model="quantity" />
				<button class="add" ng-class="{'active':action=='add'}" ng-click="action='add';changeQuantity(quantity)">
					<span>
						Add(เพิ่ม)
					</span>
				</button>
				<button class="subtract" ng-class="{'active':action=='subtract'}" ng-click="action='subtract';changeQuantity(quantity)">
					<span>
						Subtract(เบิก)
					</span>
				</button>
			</div>
		</div>
		<!--
		<div class="equipment-container">
			<table>
				<tr>
					<td>Description</td>
					<td>{{equipment.description}}</td>
				</tr>
				<tr>
					<td>Brand</td>
					<td>{{equipment.brand}}</td>
				</tr>
			</table>
		</div>
			-->
    </div>
</div>