    <form name="form" novalidate class="addFabricPage" image-drop-target="upload()">
          
        <div class="workspace">
			<md-toolbar ng-click="save()" ng-disabled="form.$invalid" layout="row" layout-align="center center">
				<h3>Create New Fabric</h3>
				<div flex></div>
				<md-button class="md-accent md-raised md-icon-button">
					<i class="material-icons">create</i>
				</md-button>
			</md-toolbar>
			<md-content>
			
	            <table class="fabric-details">
	                <tr>
	                    <td><label>Supplier</label></td>
	                    <td><select required tooltip="{{supplierText}}", ng-options="supplier.name for supplier in suppliers | orderBy:'name'" ng-model="fabric.supplier"></select></td>
	                </tr>
	                <tr>
	                    <td><label>Reference Number</label></td>
	                    <td><input type="text" tooltip="referenceText" ng-model="fabric.reference"/></td>
	                </tr>
	                <tr>
	                    <td><label>Pattern</label></td>
	                    <td><input type="text" beautify tooltip="patternText" ng-model="fabric.pattern" required/></td>
	                </tr>
	                <tr>
	                    <td><label>Color</label></td>
	                    <td><input type="text" beautify tooltip="colorText" ng-model="fabric.color" required/></td>
	                </tr>
					<tr>
						<td>
							<label>Units</label>
						</td>
						<td>
							<select required ng-model="fabric.units">
								<option value="m">Meter</option>
								<option value="yd">Yard</option>
							</select>
						</td>
					</tr>
	                <tr>
	                    <td><label>Width</label></td>
	                    <td><input name="width" type="number" type="0" tooltip="widthText" ng-model="fabric.width" required/></td>
	                </tr>
                
	                <tr>
	                    <td><label>Cost per Yard</label></td>
	                    <td><input type="number" min="0" ng-model="fabric.cost" tooltip="costText" required/>{{fabric.supplier.currency}}</td>
	                </tr>
	                <tr>
	                    <td><label>Current Length</label></td>
	                    <td><input type="number" min="0" ng-model="fabric.quantity" tooltip="lengthText" required /></td>
	                </tr>
	            </table> 
				
            	<div class="fabric-img" ui-if="imagePreviews"><img ng-src="{{imagePreviews[0].url}}" /></div>
				
			</md-content>
        </div>
        
        
        
    </form>
    
