md-card.acknowledgement{
	box-shadow:none;
	border:1px solid rgb(210,210, 210);
	cursor:move;
	cursor:-webkit-grab;
	outline:none;
	padding:2px;
	
	md-card-title{
		padding:0.05em;
		.flex;
		flex-shrink:0;
		.justify-content(flex-start);
	}
	
	md-card-content{

		.customer{
			margin-top:0.5em;
			color:rgb(46, 85, 148);
			text-overflow: ellipsis;
			white-space:nowrap;
			overflow:hidden;
		}

		.delivery-date{
			font-size:0.8em;
			color:rgba(0,0,0, 0.6);
			margin-top:0.25em;
		}

		a{
			cursor:pointer;
			text-decoration:none;
			color:rgb(100,100,100);
			outline:none;
			
			h5{
				font-size:0.9em;
			}
			
			&:hover{
				text-decoration:underline;
			}
		}
		
		i{
			font-size:0.8em;
			margin-right:0.1em;
		}
		
		.amount{
			font-size:0.8em;
			margin-top:0.25em;
			color:rgb(125,125,125);
		}
		
		.last-contacted{
			font-size:0.8em;
			color:rgb(125,125,125);
		}
	}
}