.add-employee{
    height:80%;
	width:90%;
	overflow:hidden;
	
	.md-subheader{
		background:#607d8b;
		color:#FFF;
		margin:0;
	}

	form{
		height:100%;
		width:100%;
		overflow:hidden;
	}
		
	md-content{
		width:100%;
		height:auto;
		overflow:hidden;
		.flex;
		flex-direction:column;
		padding:1em;
		left:0;
		
		&>div{
			width:80%;
			.flex;
			justify-content:flex-start;
			
			md-input-container{
				margin-right:1.5em;

				&.pay-period{
					min-width:15em;
				}
			}
		}
		
		.image-uploader{
			width:50%;
			top:1em;
			bottom:5em;
			
			nav{
				
				div{
					
					background:#607d8b;
					color:#FFF;
					
					&.active{
						background:#4A616C;
					}
				}
			}
			
			.btn-menu{
				
				div{
					
					background:#607d8b;
					color:#FFF;
					
					&:hover{
						background:#4A616C;
					}
				}
			}
		}
	}
	

	md-action{
		display:flex;
		justify-content:flex-end;
		padding:1em;
		
		button{
			color:#607d8b;
		}
	}
}