.add-deal{
	height:60%;
	//width:50%;
	min-width:25em;
	overflow:hidden;
	
	form{
		height:100%;
		
		md-toolbar{
			.align-items(center);
			.flex-direction(row);
			font-family:proxima, Helvetica;
			min-height:initial;
			padding:0.5em 1em;
		}
	
		md-dialog-content{
			height:100%;
			padding:1em;
		
			table{
				width:100%;
				tr{
					td{
						md-input-container{
							padding:0;
						}
					
						md-autocomplete{
						
						}
					}
				}
			}
		}
	
		md-dialog-actions{
		
		}
	}
	
	
	
	
}