.edit-image{
	height:90%;
	//width:50%;
	width:90%;
	overflow:hidden;
	
	.md-subheader{
		background:#607d8b;
		color:#FFF;
		//margin:0;
	}
	
	md-dialog-content{
		height:100%;
		position:relative;
		overflow:hidden;
		
		&.list-active{
			@list-width:10em;
			.image-container{
				right:@list-width;
			}

			.image-list{
				left:auto;
				width:@list-width;
			}
		}
		.image-container{
			position: absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			width: auto;
			height: auto;
			
			.cropper{
				.canvas-container{
					top:1em;
					bottom:4em;
					border-bottom:none;
					border:none;
					
					canvas{
						
					}
				}
				
				.cropper-controller{
					display:none;
				}
			}
		
			.image-information{
				position:absolute;
				left:0;
				right:0;
				height:4em;
				bottom:0;
				padding:0 1em;
				display:flex;
				flex-direction:row;
				justify-content:space-between;
				
				div{
					display:flex;
					align-items:center;
					align-content:flex-start;
					
					:first-child{
						margin-right:15px;
					}
					
				}
				
				md-input-container{
					max-width:7em;
				}
				
				md-slider-container{
					display: -webkit-flex;
					display: -ms-flexbox;
					display: flex;
					-webkit-align-items: center;
					-ms-flex-align: center;
					align-items: center;
					-webkit-flex-direction: row;
					-ms-flex-direction: row;
					flex-direction: row;
					
					label{
						margin-right:16px;
					}
					
					md-slider{
						height: 48px;
						min-width: 128px;
						position: relative;
						margin-left: 4px;
						margin-right: 4px;
						padding: 0;
						display: block;
						-webkit-flex-direction: row;
						-ms-flex-direction: row;
						flex-direction: row;
					}
					
					md-input-container{
						margin-left:15px;
						
						min-width: 25px;
						max-width: 64px;
						height: 25px;
						transition: all .4s cubic-bezier(.25,.8,.25,1);
						transition-property: color,max-width;
						
						input{
							text-align: center;
							padding-left: 15px;
							height: 50px;
							margin-top: -25px;
						}
					}
				}
			}
		}

		.image-list{
			position: absolute;
			top:0;
			right:0;
			left:100%;
			bottom:0;
			width:auto;
			height:auto;
			overflow-y:scroll;

			md-card{
				outline:none;
				cursor: pointer;
				
				md-card-title{
					padding:0.1em;
				}
			}
		}
	}
	
	md-dialog-actions{
		display:flex;
		justify-content:flex-end;
		padding:1em;
		
		.md-button{
			//padding:0.5em;
			//margin-left:1em;
		}
	}
}