/*This file handles the design of the main menu, 
 *including the links of the main menu
 */
.mainMenu{
    //font-family:Helvetica, Tahoma, sans-serif;
    //background-color: #313131;
    //border-bottom:1px solid #282828;
    /*
    -webkit-box-shadow:  0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    */
	font-size:16px;
	height:100%;
	width:3em;
   	display:flex;
	flex-direction:column;
	align-items:center;
	.transition(width, 150ms, ease-out);
	.translateZ;
	
	&.inventory{
		width:0;
		overflow:hidden;
		&.activate{
			width:0;
		}
	}
	
	&.activate{
		width:12em;
		
		.mainMenuContainer{
			.menu-item-container{
				
				&:first-child{
					&:hover{
						background:rgb(86, 108, 122);
					}
				}
				
				&:hover{
					background:tint(rgb(86, 108, 122), 10%);
					//box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.10);
					//z-index:1;
				}
				
				&:active{
					//box-shadow: inset 0px 0 20px 0 rgba(0,0,0,0.15);
				}
				
				.menu-item{
				
					
				}
				
				span{
					max-width:20em;
					margin-left:0.5em;
				}
			}
		}
	}
	
	
	
    .logo{
        position:relative;
        height:2em;
        margin:0.5em;
        width:12em;
        float:left;
		display:none;
    }
	
    //Container for main menu
    .mainMenuContainer{
		position:relative;
		width:100%;
		overflow:hidden;
        display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:flex-start;
		margin-top:1em;
		
        //individual menu items
        
        .contacts-container{
        	height:1em;
			width:1em;
			overflow:visible;
			position:relative;
        }
        
		.menu-item-container{
			.flex;
			flex-wrap:nowrap;
			width:100%;
			align-items:center;
			justify-content:flex-start;
			cursor:pointer;
			text-decoration:none;
			color:rgb(255, 255, 255);
			background:rgb(86, 108, 122);
			.transition(background, 100ms);
			
	        .menu-item{
	            float:left;
	            color:rgb(255, 255, 255);
	            font-family:proxima;
	            text-decoration:none;
				height:3em;
				min-width:3em;
				margin:0;
				
				i{
					font-size:2em;
				}
			
				&.menu-btn{
					margin-bottom:2em;
				}
	        }
			
			span{
				margin:0;
				margin-left:0.5em;
				max-width:0;
				overflow:hidden;
				white-space:nowrap;
				.transition(all, 150ms);
			}
		}
        
    }
    
    //Employee area
    .account_container{
        color:white;
        float:right;
        position:relative;
        
        span{
            height:@menuHeight;
            position:absolute;
            top:0px;
            right:0px;
        }
    }
	
	.settings{
        font-family:proxima;
        position:absolute;
        font-size:1em;
        right:2.5%;
        top:0px;
		height:3em;
		width:10em;
		overflow-x:hidden;
		overflow-y:hidden;
		background:#566C7A;
		.transition(all, 300ms, linear);
		
		li{
			height:3em;
			padding:1px 0;
			width:100%;
			position:relative;
			list-style-type:none;
			display:flex;
			align-items:center;
			justify-content:space-around;
			
			&.settings-img-container{
				height:64px;
				background:#566C7A;
				box-shadow:0 2px 5px 0 rgba(0,0,0,.26);
				z-index:5;
				
				img{
					width:1.5em;
					height:1.5em;
					opacity:1;
				}
			}
			
			.md-button{
				height:100%;
				width:100%;
				font-size:0.8em;
			}
		}
		
		&:hover{
			height:9em;
			background:rgb(36,47,52);
		}
		
		
	}
	
	
	
	
	
	
}