<div class="supply-view-page">
			
    <!-- 
        Sidebar
    -->
	
	
    <!--
        Workspace
    -->
    
    <div class="workspace" style="z-index:1;">
		
		<md-toolbar layout="column" md-scroll-shrink="true">
			<div class="container" layout="row" layout-align="center center">
				<h3><span>Supplies</span></h3>
				<div flex></div>
				<md-button class="md-icon-button md-raised md-accent" href="/api/v1/supply/log/" target="_blank">
					<i class="material-icons">save_alt</i>					
				</md-button>
				<md-button class="md-icon-button md-raised md-accent" ng-click="showAddSupply=true">
					<i class="material-icons">add</i>
				</md-button>
				<input class="search" type="text" ng-model="query" />
			</div>
			<div class="title-bar">
				<div class="preview">PREVIEW</div>
				<div class="id">ID</div>
				<div class="description">DESCRIPTION</div>
				<div class="quantity">QUANTITY</div>
				<div class="units">UNITS</div>
				<div class="nickname">NICKNAME</div>
			</div>
		</md-toolbar>
		
		<md-content>
	    	<div class="outer-container scroll-enabled" ng-hide="scannerMode" on-scroll-end="loadNext()">
	    		<ul class="inner-container">
	    			<li class="item-container" ng-repeat="supply in supplies | filter:query track by supply.id">
	    				<div supply="supply" on-select="focus($element)"></div>
						<!--
		   				<div class="item" ng-class="{'selected':supply.$selected, 'admin-only':supply.admin_only}" touchstart touchmove touchend>
	    					<div class="img-container">
	    						<input type="file" ng-model="supply.raw_image" class="image-capture" accept="image/*" capture="camera" onchange="angular.element(this).scope().addImage(this, angular.element(this).scope().supply)">

	    						<img ng-src="{{supply.image.url}}" />
	    					</div>
	    					<a class="details" ng-href="#/supply/{{supply.id}}" touchselect> 
	    						<span class="description">
	    							{{supply.description}}
	    						</span>
	    						<span class="supplier">
	    							{{supply.supplier.name}}
	    						</span>
	    						<span class="quantity">
	    							Qty: {{supply.quantity}}{{supply.units}}
	    						</span>
	    					</a>
    					
	    				</div>
							-->
	    			</li>
	    		</ul>
	    	</div>
		
		</md-content>
        
    </div>
    
</div>