

.create-po-page{
    .addPage;
	color:rgba(0, 0, 0, 1);
    /*
    *For Panels containing the suppliers and the supplies
    */
	
    .suppliers  {
        background-color:#313131;
        .container{
            position:absolute;
            width:100%;
            overflow-x:hidden;
            overflow-y:scroll;
            .list{
                width:100%;
                
                .item{
                    width:100%;
                    background:#313131;
                    padding:1em;
                    font-size:1em;
                    font-family:proxima;
                    color:#CCCCCC;
                    border-top: 1px solid #3c3c3c;
                    border-bottom: 1px solid #282828;
                    cursor:pointer;
                    .transition(all, 250ms, linear);
                    &:hover{
                        background:orange;
                        color:#FFFFFF;
                    }
                }
            }
        }
    }
   
    .supplies{
        .suppliers;
    }

	.po{
		overflow-y:scroll;
	    overflow-x:hidden;
	    position:absolute;
	    top:0px;
	    bottom:0px;
	    left:0px;
	    right:0px;
	    background:rgba(255, 255, 255, 1);
		display:flex;
		flex-direction:row;
		justify-content:space-around;
		
	    .workspace{
	        height:auto;
	        width:95%;
	        z-index:1;
	        padding-bottom:50px;
			position:relative;
			top:inherit;
			bottom:inherit;
			
			.submenu{
				margin-top:2em;
				width:95%;
				display:flex;
				align-items:flex-start;
				
				.md-button{
					font-size:1.25em;
					margin-right:0.5em;
					padding:0.5em;
					font-family:proxima;
				}
			}
      	
	      	.supplier{
	          	margin-top:2em;
				width:100%;
		  	  	display:flex;
				flex-direction:column;
				align-items:flex-start;
				
	          	h2{
	           		font-family:proxima;
	          	}
		  	  
				.supplier-menu{
					display:flex;
					justify-content:space-between;
					width:22em;
					align-items:center;
				
				  	.md-button{
					  	display:none;
						padding:0.5em;
						font-family:proxima;
					
					  	&.add{
						  	&.active{
							  	display:block;
						  	}
					  	}
			  
					  	&.change{
						  	&.active{
							  	display:block;
						  	}
					  	}
				
						&.create-supplier{
							display:block;
						}
				  	}
				}
				
	          	.details{
				  	opacity:0;
					margin-top:1em;
				  	.transition(all, 250ms, linear);
			  
				  	&.active{
					  	height:auto;
					  	opacity:1;
					  	z-index:0;
				  	}
	              	tr{
	                  	td{
	                      	line-height:1.6em;
	                      	font-size:1em;
	                      	font-family:proxima;
	                      	letter-spacing:0.08em;
	                      	//States
	                      	&:first-child{
	                          	color:rgba(0, 0, 0, 1);   
	                      	}
	                      	&:last-child{
	                          	color:rgba(0, 0, 0, 1);
	                          	padding-left:20px;   
	                      	}
	                  }
	              }
	          }
	      }
	      .order{
	          .supplier;
			  margin-top:2em;
	          .details{
				  margin-top:0em;
				  opacity:1;
				  z-index:0;
			  
			  
			  
		          tr{
				  
					  &.currency{
						  opacity:0;
						  .transition(all, 250ms, linear);
					  
						  &.active{
							  opacity:1;
						  }
					  }
				  
		              td{
		                  padding:0.25em 0;
				  		
						  .new-project-checkbox{
							  margin-left:2em;
							  margin-right:0.5em;
						  }
						  .new-project-name{
				  	
						  }
					  
						  input{
							  background-color:rgba(255, 255, 255, 1);
							  color:rgba(0, 0, 0, 1);
							  border:1px solid rgba(0, 0, 0, 0.35);
							  
						  	  &.vat{
						  	  	  width:3em;
								  text-align:center;
						  	  }
							  &.discount{
							  	  width:3em;
								  text-align:center;
							  }
							  
							  &.ng-invalid{
								  background-color:#A54243;
							  }
						  }
						  
						  textarea{
							  background-color:rgba(255, 255, 255, 1);
							  color:rgba(0, 0, 0, 1);
							  border:1px solid rgba(0, 0, 0, 0.35);
						  }
		              }
		          }
			  }
	      }  
	      .order-details{
			  .supplier;
			  margin-top:2em;
			  margin-bottom:2em;
			  display:flex;
			  flex-direction:column;
			  align-items:center;
			  
			  h2{
				  align-self:flex-start;
			  }
			  
			  .item-menu{
				  margin-top:2em;
				  height:2.2em;
				  width:100%;
				  display:flex;
				  align-items:flex-start;
				  
				  .md-button{
					  padding:0.5em;
					  font-family:proxima;
					  margin-right:1.25em;
				  }
			  }
		  
		      	table{
					margin-top:2em;
					width:100%;
			
					tr{
						td{
							padding:0.25em 0.5em;
						}
					}
					thead{
						tr{
							td{
								color:rgba(255, 255, 255, 1);
								padding:1em;
								text-align:center;
								background-color:rgb(96,125,139);
								border-left:1px dotted rgba(0, 0, 0, 0.35);
								
								&:first-child{
									border:none;
								}
							}
						}
					}
					tbody{
						font-family:proxima;
						letter-spacing:0.08em;
		        		.items{
							border-bottom:1px dotted rgba(0, 0, 0, 0.35);
		        			
							td{
		        				color:rgba(0, 0, 0, 1);
								border-left:1px dotted rgba(0, 0, 0, 0.35);
								padding:0;
								
								input{
									width:100%;
									height:100%;
									background-color:rgba(255, 255, 255, 1);
									color:rgba(0, 0, 0, 1);
									border-radius:none;
									
									&.ng-invalid{
										background-color:#A54243;
									}
								}
								
								textarea{
									width:100%;
									background-color:rgba(255, 255, 255, 1);
									color:rgba(0, 0, 0, 1);
									
									&.ng-invalid{
										background-color:#A54243;
									}
									
									&:focus{
										//width:10em;
									}
								}
							
								
								&:first-child{
									border-left:none;
								}
								
								&:last-child{
									border-left:none;
								}
								
								&.description{
									text-align:left;
									width:30%;
								}
				
								&.discount{
									text-align:center;
									input{
										text-align:center;
									}
								}
				
								&.quantity{
									width:3em;
									text-align:center;
									input{
										text-align:center;
									}
								}
				
								&.unit-cost{
									text-align:center;
									input{
										text-align:center;
									}
								}
				
								&.total{
									text-align:right;
									padding-right:3em;
									width:10%;
								}
							
								.remove-btn{
									position:relative;
									top:0;
									opacity:1;
									z-index:0;
								}
		        			}
		        		}
			
						.summary{
							color:rgba(0, 0, 0, 1);
							td{
								&.title{
									text-align:right;
									padding-right:3em;
								}
					
								&.value{
									text-align:right;
									padding-right:3em;
								}
							}
						}
						.subtotal{
							color:rgba(0, 0, 0, 1);
						}
			
						.discount{
							color:rgba(0, 0, 0, 1);
						}
					}
					.totals{
			
					}
		      	}
	      	}
	    }
	}
}
