

.po-details-page{
    .detailsPage;
    left:0;
	background-color:rgba(255, 255, 255, 1);
	background:rgba(255, 255, 255, 1);
	display:flex;
	flex-direction:column;
	align-items:center;
	overflow-y:scroll;
	
    .log-modal{
        .calendar-modal;
        height:80%;
        width:80%;
        margin:0;
        top:10%;
        left:10%;
        background-color:#313131;
        .container{
            overflow-y:scroll;
            overflow-x:hidden;
            bottom:45px;
            .grid{
                height:auto;
                width:100%;
                .view-grid;
            }
        }
    }
    .workspace{
		width:95%;
		height:auto;
		background:rgba(255, 255, 255, 1);
		position:relative;
		
		.map-container{
			position:absolute;
			top:7em;
			right:0;
			height:30em;
			width:40em;
			
			#po-map{
				height:40em;
				width:40em;
			}
		}
		
		.submenu{
			margin-top:2em;
			height:2em;
			button{
				float:left;
				padding:0.5em 1em;
				margin-right:0.5em;
				font-size:1.25em;
			}
		}
		.details{
			border:none;
			width:50%;
			
			.title{
				margin-top:2em;
				font-family:proxima;
				color:rgba(0, 0, 0, 1);
			}
			
	        table.order-details{
				margin-top:2em;
				color:rgba(0, 0, 0, 1);
	            tr{
					
	                td{
	                    text-decoration:none;
						
	                    &.acknowledged{
	                        color:yellow;
	                    }
	                    &.shipped{
	                        color:#00FF00;
	                    }
                    
	                    &.discount{
	                        width:2em;
	                        text-align:right;
	                    }
						
						input{
							background-color:rgba(255, 255, 255, 1);
							color:rgba(0, 0, 0, 1);
							border:1px solid rgba(0, 0, 0, 1);
							border-radius:2px;
							width:3em;
							&.ng-invalid{
								background-color:#A54243;
							}
							
						}
						
						textarea{
							width:100%;
							background-color:rgba(255, 255, 255, 1);
							color:rgba(0, 0, 0, 1);
							
							&.ng-invalid{
								background-color:#A54243;
							}
							
							&:focus{
								//width:10em;
							}
						}
	                }
	            }
	        }
		}
        .order-details{
			.details;
			margin-bottom:5em;
			width:100%;
			
			.items-submenu{
				margin:2em 0;
				
				.md-button{
					margin-right:1em;
				}
			}
			
        	table{
				width:100%;
				
				tr{
					td{
						padding:0.25em 0.5em;
					}
				}
				thead{
					tr{
						background-color:rgb(96,125,139);
						td{
							text-align:center;
							border-left:1px dotted rgba(0, 0, 0, 0.35);
							color:rgba(255, 255, 255, 1);
							padding:1em;
							
							&:last-child{
								border:none;
							}
						}
					}
				}
				tbody{
					font-family:proxima;
					letter-spacing:0.08em;
	        		tr{
						border-bottom:1px dotted rgba(0, 0, 0, 0.35);
							
	        			td{
	        				color:rgba(0, 0, 0, 1);
							text-align:right;
							border-left:1px dotted rgba(0, 0, 0, 0.35);
							
							&:first-child{
								border-left:none;
							}
							
							&:last-child{
								border-left:none;
							}
							
							&.description{
								text-align:left;
							}
						
							&.discount{
								text-align:center;
								input{
									text-align:center;
									width:2em;
								}
							}
						
							&.quantity{
								text-align:center;
								input{
									text-align:center;
									width:5em;
								}
							}
						
							&.unit-cost{
								text-align:center;
								input{
									text-align:center;
									width:5em;
								}
							}
							
							&.status{
								text-align:center;
							}
							
							&.total{
								padding-right:3em;
								width:20%;
							}
							
							input{
								width:100%;
								height:100%;
								background-color:rgba(255, 255, 255, 1);
								color:rgba(0, 0, 0, 1);
								border-radius:none;
								border:none;
								
								&.ng-invalid{
									background-color:#A54243;
								}
							}
							
							textarea{
								width:100%;
								background-color:rgba(255, 255, 255, 1);
								color:rgba(0, 0, 0, 1);
								padding:0.25em;
								border:none;
								
								&.ng-invalid{
									background-color:#A54243;
								}
								
								&:focus{
									//width:10em;
								}
							}
							
							.remove-btn{
								background-color:#313131;
								border:1px solid #282828;
								padding:0.25em 1em;
								border-radius:0.25em;
								color:white;
								font-family:proxima;
								letter-spacing:0.08em;
								font-size:0.8em;
								outline:none;
								.transition(background-color, 100ms, linear);
								
								&:hover{
									background-color:#2D2D2D;
								}
								&:active{
									background-color:#282828;
								}
							}
	        			}
	        		}
					
					.summary{
						border-bottom:none;
						
						td{
							border:none;
							
							&.title{
								text-align:right;
								padding-right:3em;
							}
							
							&.value{
								text-align:right;
								padding-right:3em;
							}
						}
					}
				}
			}
        }
        
		
    }
}
