

.po-view-page{
    .viewPage;
    span{
        font-family:proxima;
        spacing:0.08em;
    }
    left:0;
    background-color:#313131;
    
	/*
	 * Helper classes
	 */
	.arrow(@arrowColor: transparent, @arrowHeight:1em, @arrowWidth: 10px){
		
		.arrow{
			font-size:16px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width:(@arrowHeight/2) 0 (@arrowHeight/2) @arrowWidth;
			border-color: transparent transparent transparent @arrowColor;
			position:absolute;
			left:100%;
			top:0;
			padding:0;
			margin:0;
		}
	}
    
    .workspace{
        position:absolute;
        top:0;
        bottom:0;
        left:0;
		right:0;
		background:#FFF;
		padding:0;
		
		md-toolbar{
			
			div{
				
				&.container{
					width:100%;
					padding:0.5em 1em;
						
					.search{
						color:rgb(0, 0, 0);
						font-family:proxima;
						outline:none;
						margin:0 1em;
						padding:0 1em;
					}
				}
				
				
				&.title-bar{
					display:flex;
					flex-direction:row;
					border-bottom: 1px solid #4F6874;
					border-top: 1px solid #4F6874;
					width:100%;
			
					div{
						display:flex;
						flex-direction:row;
						align-items:center;
						justify-content:space-around;
						padding:0.25em;
						background:#607d8b;
						color:rgba(255, 255, 255, 1);
						border-left:1px dotted rgba(0, 0, 0, 0.35);
						font-size:0.8em;
						
						&:first-child{
							border-left:none;
						}
					
						&.id{
							width:5%;
						}

						&.order-date{
							width:10%;
						}

						&.customer{
							width:25%;
						}
					
						&.project-id{
							width:3%;
							padding-left:0.2em;
						}
					
						&.project{
							width:17%;
						}

						&.delivery-date{
							width:10%;
						}
					
						&.paid-date{
							width:10%;
						}
		
						&.total{
							width:10%;
							justify-content:flex-end;
							padding:0 1em 0 0;
						}
		
						&.status{
							width:10%;
						
							&.processed{
								color:#0098cd;
							}
						
							&.received{
								color:#54947A;
							}
						}
					}
				}
			}
			
			.purchase-order-summary{
				width:100%;
				height:auto;
				display:flex;
				flex-direction:row;
				align-items:center;
				overflow:visible;
				font-size:16px;
				
				div{
					@zIndex:0;
					@fontSize:1em;
					@padding:0.25em;
					font-size:16px;
					padding:0.25em 0;
					height:(2 * 0.25em) + (2 * @fontSize);
					width:0em;
					overflow:hidden;
					z-index:1;
					cursor:pointer;
					display:flex;
					flex-direction:column;
					align-items:flex-start;
					justify-content:space-between;
					box-shadow:0 5px 10px 1px rgba(0, 0, 0, 0);
					transition-property: margin-bottom, box-shadow;
					transition-duration:250ms;
					position:relative;
					overflow:visible;
					min-width:14%;
					@zIndex:0;
					
					&:hover{
						margin-bottom:0.35em;
						//-webkit-box-shadow: 0 5px 10px 1px rgba(0,0,0,0.15);
						box-shadow: 0 5px 10px 1px rgba(0,0,0,0.25);
						z-index:0;
					}
				
					&.processed{
						background-color:#8282EA;
						z-index:@zIndex + 2;
						.arrow(#8282EA, (@padding * 2) + (@fontSize * 2));
					}
				
					&.received{
						background-color:rgb(231, 183, 95);
						z-index:@zIndex + 1;
						.arrow(rgb(231, 183, 95), (@padding * 2) + (@fontSize * 2));
					}
				
					&.paid{
						background-color:rgb(87, 132, 87);
						z-index:@zIndex;
						.arrow(rgb(87, 132, 87), (@padding * 2) + (@fontSize * 2));
					}
				
					span{
						color:rgba(255, 255, 255, 1);
						font-family:proxima;
						font-size:1em;
						white-space:nowrap;
						margin:0 0 0 1em;
					}
				}
			}
		}
		
		md-content{
			height:100%;
        
	        .outer-container{
	            height:auto;
				width:100%;
				overflow:hidden;
			
	            .inner-container{
	                width:100%;
	                height:auto;
	                .item-container{
	                    width:100%;
	                    background-color:red;
	                    position:relative;
	                    height:3em;
	                    &:hover{
	                        background-color:red;
	                    }
                    
	                    .item{
							display:flex;
							flex-direction:row;
	                        width:100%;
	                        background-color:#FFF;
	                        position:absolute;
	                        left:0;
							top:0;
	                        font-size:1em;
	                        height: 3em;
	                        border-bottom:1px dotted rgba(0, 0, 0, 0.35);
	                        text-decoration:none;
	                        color:#000;
	                        cursor:pointer;
	                        .transition(all, 150ms, linear);
                        
							&:hover{
	                            background-color:#E4EEF4;
	                        }
                        
	                        &.selected{
	                            background-color:orange;
	                        }
						
                        
							div{
								display:flex;
								flex-direction:row;
								align-items:center;
								padding-left:1em;
								justify-content:flex-start;
								border-left:1px dotted rgba(0, 0, 0, 0.35);
							
								&:first-child{
									border-left:none;
								}
							
								&.id{
									width:5%;
								}
	
								&.order-date{
									width:10%;
								}
	
								&.customer{
									width:25%;
								}
							
								&.project-id{
									width:3%;
									padding-left:0.2em;
								}
							
								&.project{
									width:17%;
								}
	
								&.delivery-date{
									width:10%;
								}
							
								&.paid-date{
									width:10%;
								}
				
								&.total{
									width:10%;
									justify-content:flex-end;
									padding:0 1em 0 0;
								}
				
								&.status{
									width:10%;
								
									&.processed{
										color:#0098cd;
									}
								
									&.received{
										color:#54947A;
									}
								}
							}
	                    }
	                }
	            }
	        }
		}
    }
}
