


.inventory-page{
  .viewPage;
  
  
  .workspace{
      .header{
          .cell{
              &.preview{
                  height:auto;
                  width:20%;
                  padding:0em;
                  img{
                      width:100%;
                  }
              }
              &.id{
                text-align:center;
                width:10%
              }
              &.model{
                text-align:center;
                width:10%
              }
              &.name{
                  width:10%;
              }
              &.configuration{
                  text-align:center;  
                  width:20%;
              }
              &.width{
                  text-align:center;  
                  width:10%;
              }
              &.depth{
                  text-align:center;  
                  width:10%;
              }
              &.height{
                  text-align:center;  
                  width:10%;
              }
            
             
          }
      }
      .listContainer{
          .header;
      }
      
  }
  
}
