<!DOCTYPE html >
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Employee Center</title>
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Employee Center">
    <meta name="viewport" content="width=device-width, minimal-ui, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes">
     
    <link rel="stylesheet" href="components/normalize-css/normalize.css">
	

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	
	<link rel="stylesheet" 		href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.5/angular-material.layouts.min.css">
	<link rel="stylesheet" 		href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.5/angular-material.min.css">
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" media="(min-width:481px)" href="styles/main.css">
	
    <!-- Twilio SDK -->
    <script type="text/javascript" src="//media.twiliocdn.com/sdk/js/client/v1.4/twilio.min.js"></script>

  </head>
  <body ng-app="employeeApp" ng-init="menuActive=false" ng-class="{'inventory': inventory}">

    <!-- Add your site or application content here -->
    <div id="notification">testing the notification system</div>
    <md-toolbar class="mainMenu" style="background: #566C7A" ng-class="{'activate':menuActive, 'inventory': inventory}">
        <img class="logo" src="img/DellaLogo.png" />
        <!--Holds all the different menu options. Determined which are visible based
            on the permissions of the current user-->
			
        
		
        <div class="mainMenuContainer scroll-enabled">
			
				<a class="menu-item-container">
			        <md-button class="menu-item menu-btn md-icon-button" ng-click="menuActive=!menuActive">
						<md-tooltip md-direction="right">Expand Menu</md-tooltip>
						<i class="material-icons">menu</i>
					</md-button>
        		</a>
				
				<a class="menu-item-container" href="#/contact" >
	                <md-button class="menu-item md-icon-button">
						<md-tooltip md-direction="right">Contacts</md-tooltip>
						<i class="material-icons">contacts</i>
					</md-button>
					<span>Contacts</span>
				</a>
				<a class="menu-item-container"  href="#/product">
	                <md-button class="menu-item md-icon-button" ng-show="currentUser.hasModule('products')">
						<md-tooltip md-direction="right">Products</md-tooltip>
						<i class="material-icons">weekend</i>
					</md-button>
					<span>Products</span>
				</a>
				<a class="menu-item-container" href="#/supply">
	                <md-button class="menu-item md-icon-button" ng-show="currentUser.hasModule('supplies')">
						<md-tooltip md-direction="right">Supplies</md-tooltip>
						<i class="material-icons">build</i>
					</md-button>
					<span>Supplies</span>
				</a>
				<a class="menu-item-container" href="#/supply/fabric">
					<md-button class="md-icon-button menu-item">
						<md-tooltip md-direction="right">Fabrics</md-tooltip>
						<i class="material-icons">layers</i>
					</md-button>
					<span>Fabrics</span>
				</a>
				<a class="menu-item-container" href="#/deal">
					<md-button class="md-icon-button menu-item">
						<md-tooltip md-direction="right">Sales Deals</md-tooltip>
						<i class="material-icons">attach_money</i>
					</md-button>	
					<span>Sales Deals</span>
				</a>			
				<md-button href="#/equipment" class="menu-item md-icon-button" ng-show="currentUser.hasModule('equipment')">Equipment</md-button>
				<a class="menu-item-container" href="#/order">
				    <md-button class="menu-item md-icon-button" ng-show="currentUser.hasModule('acknowledgements') || currentUser.hasModule('shipping') || currentUser.hasModule('po')">
						<md-tooltip md-direction="right">Orders</md-tooltip>
						<i class="material-icons">shopping_cart</i>
					</md-button>
					<span>Orders</span>
				</a>
				<a class="menu-item-container" href="#/order/shipping">
	                <md-button class="menu-item md-icon-button" ng-show="currentUser.hasModule('shipping')">
						<md-tooltip md-direction="right">Shipping</md-tooltip>
						<i class="material-icons">local_shipping</i>
					</md-button>
					<span>Shipping</span>
				</a>
				<a class="menu-item-container" href="#/accounting">
	                <md-button class="menu-item md-icon-button" ng-show="currentUser.hasModule('accounting')">
						<md-tooltip md-direction="right">Accounting</md-tooltip>
						<i class="material-icons">account_balance_wallet</i>
					</md-button>
					<span>Accounting</span>
				</a>
				<a class="menu-item-container" href="#/project">
	                <md-button class="menu-item md-icon-button">
						<md-tooltip md-direction="right">Projects</md-tooltip>
						<i class="material-icons">developer_board</i>
					</md-button>
					<span>Project</span>
				</a>
				<a class="menu-item-container" href="#/administrator">
					<md-button class="menu-item md-icon-button" ng-show="currentUser.hasModule('administrator')">
						<md-tooltip md-direction="right">Administrator</md-tooltip>
						<i class="material-icons">vpn_key</i>
					</md-button>
					<span>Administrator</span>
				</a>
				<a class="menu-item-container" href="#/hr">
	                <md-button class="menu-item md-icon-button" ng-show="currentUser.hasModule('hr')">
						<md-tooltip md-direction="right">Human Resources</md-tooltip>
						<i class="material-icons">supervisor_account</i>
					</md-button>
					<span>Human Resources</span>
				</a>
				<!--
				<div class="menu-item-container">
	                <md-button href="#/hr" class="menu-item md-icon-button" ng-show="currentUser.hasModule('hr')">
						<md-tooltip md-direction="right">Settings</md-tooltip>
						<i class="material-icons">settings</i>
					</md-button>
				</div>
					-->
				<a class="menu-item-container" href="/logout">	
	                <md-button class="menu-item md-icon-button">
						<md-tooltip md-direction="right">Logout</md-tooltip>
						<i class="material-icons">exit_to_app</i>
					</md-button>
					<span>Logout</span>
				</a>
           
        </div>
		
    </md-toolbar>
    
    <phone></phone>
    <!--
    <div id="voip-main" ng-class="voipStatus()">
        <div class="inactive">
            <i class="material-icons display">phone</i>
        </div>
        <div class="active-container">
            <div class="caller-info">
                <h3 class="connected">You are connected with:</h3>
                <h3 class="receiving">You are receiving a call from:</h3> 
                {% verbatim %}
                <span>{{voipFrom()}}</span>
				{% endverbatim %}
            </div>

            <div class="action-container">
                <div class="answer-container">
                <md-button class="md-icon-button md-raised answer" ng-click="answer()">
                        <md-tooltip md-direction="bottom">Answer</md-tooltip>
                        <i class="material-icons">phone</i>
                    </md-button>
                </div>
                <div class="hangup-container">
                    <md-button class="md-icon-button md-raised hangup" ng-click="hangup()">
                        <md-tooltip md-direction="bottom">Hang Up</md-tooltip>
                        <i class="material-icons">phone</i>
                    </md-button>
                </div>

            </div>
            
        </div>
        
    </div>
    -->
    <div ng-view class="mainContainer md-background" ng-class="{'activate': menuActive, 'inventory': inventory}">
        
    </div>
	<div class="print">
	</div>
	
	<!--
	<script src="components/jquery/dist/jquery.min.js" type="text/javascript"></script>
	<script src="components/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
	<script src="components/angular/angular.min.js" type="text/javascript"></script>
	<script src="components/angular-route/angular-route.min.js" type="text/javascript"></script>
	<script src="components/angular-cookies/angular-cookies.min.js" type="text/javascript"></script>
	<script src="components/angular-resource/angular-resource.min.js" type="text/javascript"></script>
	<script src="components/hammerjs/hammer.min.js" type="text/javascript"></script>
	<script src="components/angular-animate/angular-animate.min.js" type="text/javascript"></script>
	<script src="components/angular-aria/angular-aria.min.js" type="text/javascript"></script>
	<script src="components/angular-material/angular-material.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="components/angular-ui-date/src/date.js"></script>
		<script src="components/d3/d3.min.js" type="text/javascript"></script>
	-->
		
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>   
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js" 		type="text/javascript"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-messages.js" 		type="text/javascript"></script>
		
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js" 		type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-cookies.js" 		type="text/javascript"></script>	
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-resource.js" 		type="text/javascript"></script>
	
    <!-- Angular Material Dependencies -->
    <script src="//cdn.jsdelivr.net/hammerjs/2.0.4/hammer.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js"></script>
		
    <!-- Angular Material Javascript now available via Google CDN; version 1.0.5 used here -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.5/angular-material.min.js"></script>
		
	<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.9/d3.min.js" charset="utf-8"></script>
	
    

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/configs.js"></script>
    <script src="scripts/controllers/contact/customer/add.js"></script>
    <script src="scripts/controllers/contact/customer/details.js"></script>
    <script src="scripts/controllers/contact/customer/view.js"></script>
    <script src="scripts/controllers/contact/supplier/add.js"></script>
    <script src="scripts/controllers/contact/supplier/view.js"></script>
    <script src="scripts/controllers/contact/supplier/details.js"></script>
    <script src="scripts/services/resource.js"></script>
    <script src="scripts/services/storage.js"></script>
    <script src="scripts/services/models/customer.js"></script>
    <script src="scripts/services/models/supplier.js"></script>
    <script src="scripts/services/models/current-user.js"></script>
    <script src="scripts/services/notification.js"></script>
    <script src="scripts/services/models/supplier-contact.js"></script>
    <script src="scripts/filters/date-range.js"></script>
    <script src="scripts/filters/date-filter.js"></script>
    <script src="scripts/filters/beautify.js"></script>
    <script src="scripts/filters/exclude.js"></script>
    <script src="scripts/filters/group-by.js"></script>    
    <script src="scripts/filters/telephone.js"></script>
    <script src="scripts/controllers/product/upholstery/add.js"></script>
    <script src="scripts/controllers/product/upholstery/view.js"></script>
    <script src="scripts/controllers/product/upholstery/details.js"></script>
    <script src="scripts/services/models/upholstery.js"></script>
    <script src="scripts/services/models/model.js"></script>
    <script src="scripts/services/models/configuration.js"></script>
    <script src="scripts/controllers/product/model/add.js"></script>
    <script src="scripts/controllers/product/model/view.js"></script>
    <script src="scripts/controllers/product/model/details.js"></script>
    <script src="scripts/services/models/acknowledgement.js"></script>
    <script src="scripts/controllers/order/acknowledgement/create.js"></script>
    <script src="scripts/controllers/order/acknowledgement/view.js"></script>
    <script src="scripts/services/models/fabric.js"></script>
    <script src="scripts/directives/fade-load.js"></script>
    <script src="scripts/directives/fade-in.js"></script>
    <script src="scripts/directives/ec-blur.js"></script>
    <script src="scripts/directives/drag-on.js"></script>
    <script src="scripts/directives/drop-on.js"></script>
    <script src="scripts/directives/image-drop-target.js"></script>
    <script src="scripts/directives/beautify.js"></script>
    <script src="scripts/directives/telephone.js"></script>
    <script src="scripts/directives/map.js"></script>
    <script src="scripts/directives/click-url.js"></script>
    <script src="scripts/directives/modal.js"></script>
    <script src="scripts/controllers/order/shipping/create.js"></script>
    <script src="scripts/controllers/order/shipping/view.js"></script>
    <script src="scripts/controllers/order/shipping/today.js"></script>
    <script src="scripts/controllers/order/shipping/week.js"></script>
    <script src="scripts/services/models/shipping.js"></script>
    <script src="scripts/controllers/administrator/group/add.js"></script>
    <script src="scripts/controllers/administrator/group/view.js"></script>
    <script src="scripts/controllers/administrator/group/details.js"></script>
    <script src="scripts/controllers/administrator/user/details.js"></script>
    <script src="scripts/controllers/administrator/user/add.js"></script>
    <script src="scripts/controllers/administrator/user/view.js"></script>
    <script src="scripts/controllers/administrator/log/view.js"></script>
    <script src="scripts/services/models/group.js"></script>
    <script src="scripts/services/models/user.js"></script>
    <script src="scripts/controllers/supply/fabric/view.js"></script>
    <script src="scripts/controllers/supply/fabric/add.js"></script>
    <script src="scripts/controllers/supply/fabric/details.js"></script>
    <script src="scripts/controllers/supply/foam/details.js"></script>
    <script src="scripts/controllers/supply/foam/add.js"></script>
    <script src="scripts/controllers/supply/foam/view.js"></script>
    <script src="scripts/services/models/foam.js"></script>
    <script src="scripts/controllers/accounting/transaction/view.js"></script>
    <script src="scripts/controllers/accounting/transaction/add.js"></script>
    <script src="scripts/controllers/accounting/transaction/details.js"></script>
    <script src="scripts/services/models/transaction.js"></script>
    <script src="scripts/services/ea-storage.js"></script>
    <script src="scripts/services/ea-resource.js"></script>
    <script src="scripts/services/scanner.js"></script>
    <script src="scripts/controllers/order/acknowledgement/details.js"></script>
    <script src="scripts/directives/scanner.js"></script>
    <script src="scripts/services/interceptors/date-parser.js"></script>
    <script src="scripts/services/models/permission.js"></script>
    <script src="scripts/controllers/order/acknowledgement/weekly.js"></script>
    <script src="scripts/controllers/order/acknowledgement/daily.js"></script>
    <script src="scripts/controllers/order/shipping/details.js"></script>
    <script src="scripts/directives/tooltip.js"></script>
    <script src="scripts/controllers/order/acknowledgement/item/details.js"></script>
    <script src="scripts/services/models/acknowledgement-item.js"></script>
    <script src="scripts/controllers/supply/prop/view.js"></script>
    <script src="scripts/controllers/supply/prop/add.js"></script>
    <script src="scripts/services/models/supply.js"></script>
    <script src="scripts/controllers/supply/prop/details.js"></script>
    <script src="scripts/directives/search-bar.js"></script>
    <script src="scripts/directives/ea-save.js"></script>
    <script src="scripts/directives/ea-add.js"></script>
    <script src="scripts/directives/image-cropper.js"></script>
    <script src="scripts/services/index-of-id.js"></script>
    <script src="scripts/controllers/supply/lumber/view.js"></script>
    <script src="scripts/services/models/contact.js"></script>
    <script src="scripts/services/ea-db.js"></script>
    <script src="scripts/controllers/product/inventory.js"></script>
    <script src="scripts/services/geocoder.js"></script>
    <script src="scripts/services/map/marker.js"></script>
    <script src="scripts/controllers/order/shipping/delivery.js"></script>
    <script src="scripts/services/models/delivery.js"></script>
    <script src="scripts/controllers/product/table/view.js"></script>
    <script src="scripts/services/models/table.js"></script>
    <script src="scripts/controllers/product/rug/view.js"></script>
    <script src="scripts/controllers/product/rug/add.js"></script>
    <script src="scripts/directives/background.js"></script>
    <script src="scripts/controllers/product/table/details.js"></script>
    <script src="scripts/controllers/product/table/add.js"></script>
    <script src="scripts/controllers/project/view.js"></script>
    <script src="scripts/controllers/project/details.js"></script>
    <script src="scripts/services/models/project.js"></script>
    <script src="scripts/services/models/room.js"></script>
    <script src="scripts/directives/checkmark.js"></script>
    <script src="scripts/directives/x-mark.js"></script>
    <script src="scripts/controllers/hr/employee/view.js"></script>
    <script src="scripts/services/models/project-item.js"></script>
    <script src="scripts/directives/product-selector.js"></script>
    <script src="scripts/directives/file-handler.js"></script>
    <script src="scripts/controllers/project/room/details.js"></script>
    <script src="scripts/services/s3.js"></script>
    <script src="scripts/services/file-uploader.js"></script>
    <script src="scripts/filters/available.js"></script>
    <script src="scripts/controllers/supply/view.js"></script>
    <script src="scripts/controllers/order/purchase_order/view.js"></script>
    <script src="scripts/services/models/purchase-order.js"></script>
    <script src="scripts/controllers/order/purchase_order/create.js"></script>
    <script src="scripts/directives/add-supply.js"></script>
    <script src="scripts/directives/add-supplier.js"></script>
    <script src="scripts/services/inventory.js"></script>
    <script src="scripts/directives/on-scroll-end.js"></script>
    <script src="scripts/directives/customer-list.js"></script>
    <script src="scripts/directives/upholstery-list.js"></script>
    <script src="scripts/directives/table-list.js"></script>
    <script src="scripts/directives/fabric-selector.js"></script>
    <script src="scripts/controllers/order/purchase_order/details.js"></script>
    <script src="scripts/controllers/supply/details.js"></script>
    <script src="scripts/directives/image-uploader.js"></script>
    <script src="scripts/directives/add-customer.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/directives/img.js"></script>
    <script src="scripts/services/keyboard-navigation.js"></script>
    <script src="scripts/directives/supplier-list.js"></script>
    <script src="scripts/directives/supply-list.js"></script>
    <script src="scripts/services/camera-service.js"></script>
    <script src="scripts/directives/camera.js"></script>
    <script src="scripts/services/interceptors/error.js"></script>
    <script src="scripts/directives/scanner-modal.js"></script>
    <script src="scripts/services/resizer.js"></script>
    <script src="scripts/directives/touchstart.js"></script>
    <script src="scripts/directives/touchmove.js"></script>
    <script src="scripts/directives/touchend.js"></script>
    <script src="scripts/directives/touchselect.js"></script>
    <script src="scripts/controllers/supply/log.js"></script>
    <script src="scripts/services/models/supplylog.js"></script>
    <script src="scripts/controllers/supply/buying_guide.js"></script>
    <script src="scripts/directives/supply.js"></script>
    <script src="scripts/services/models/employee.js"></script>
    <script src="scripts/directives/employee.js"></script>
    <script src="scripts/services/models/attendance.js"></script>
    <script src="scripts/directives/attendance-chart.js"></script>
    <script src="scripts/services/d3.js"></script>
    <script src="scripts/directives/supplies.js"></script>
    <script src="scripts/services/models/equipment.js"></script>
    <script src="scripts/directives/add-equipment.js"></script>
    <script src="scripts/controllers/equipment/view.js"></script>
    <script src="scripts/directives/equipment.js"></script>
    <script src="scripts/controllers/supply/shopping_list.js"></script>
    <script src="scripts/directives/suppliers.js"></script>
    <script src="scripts/controllers/dialogs/supply-scanner.js"></script>
    <script src="scripts/controllers/dialogs/add-employee.js"></script>
    <script src="scripts/controllers/dialogs/add-supplier-contact.js"></script>
    <script src="scripts/directives/file-drop.js"></script>
    <script src="scripts/controllers/order/estimate/view.js"></script>
    <script src="scripts/services/models/estimate.js"></script>
    <script src="scripts/controllers/order/estimate/create.js"></script>
    <script src="scripts/controllers/order/estimate/details.js"></script>
    <script src="scripts/directives/purchase-order-summary.js"></script>
    <script src="scripts/directives/acknowledgement-summary.js"></script>
    <script src="scripts/controllers/dialogs/add-room.js"></script>
    <script src="scripts/services/models/roomitem.js"></script>
    <script src="scripts/services/models/phase.js"></script>
    <script src="scripts/services/models/project-item-part.js"></script>
    <script src="scripts/controllers/dialogs/change-password.js"></script>
    <script src="scripts/controllers/dialogs/create-packing-list.js"></script>
    <script src="scripts/controllers/dialogs/change-fabric.js"></script>
    <script src="scripts/directives/fabric-storage.js"></script>
    <script src="scripts/controllers/scanner.js"></script>
    <script src="scripts/services/models/product-supply.js"></script>
    <script src="scripts/services/interceptors/number.js"></script>
    <script src="scripts/services/models/shift.js"></script>
    <script src="scripts/controllers/hr/payroll.js"></script>
    <script src="scripts/services/models/payroll.js"></script>
    <script src="scripts/directives/number-format.js"></script>
    <script src="scripts/services/models/deal.js"></script>
    <script src="scripts/controllers/deals/view.js"></script>
    <script src="scripts/directives/deal.js"></script>
    <script src="scripts/controllers/deals/details.js"></script>
    <script src="scripts/directives/fabric.js"></script>
    <script src="scripts/directives/deal-event-message.js"></script>
    <script src="scripts/directives/phone.js"></script>
    <!-- endbuild -->
    <script src="https://maps.googleapis.com/maps/api/js?language=en&key=AIzaSyAR7d5YR5_qH0LNl4vtBTKeyG0M_rnpzKc" type="text/javascript"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<!--
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
		-->
		
	<div id="hidden-pdf-frame">
	</div>
  </body>
</html>
