<div class="employee-view-page">
    
    
    <div class="workspace">
			
		<md-toolbar layout="row" layout-align="center center" md-scroll-shrink="true">
			<h3><span>Employees</span></h3>
			<div flex >
			</div>
			<md-button class="md-icon-button md-raised md-accent" ng-show="currentUser.hasPermission('add_employee')" ng-click="showAddEmployee()">
				<md-tooltip>Create Employee</md-tooltip>
				<i class="material-icons">add</i>
			</md-button>
			<div layout="row" layout-align="end center">
				<input class="search" type="text" ng-model="query" />
			</div>
			
		</md-toolbar>
			
		<md-content>
			<md-card ng-class="{'active': active}" ng-repeat="employee in employees | filter:search:strict | filter:query track by employee.id">
				<md-card-title ng-click="active=!active" layout="row" layout-align="center center" flex="nogrow">
					<md-card-title-media flex="nogrow">
						<div class="md-media-sm card-media">
							<i class="material-icons" ng-hide="employee.image.url">account_box</i>
							<img ng-src="{{employee.image.url}}" ng-show="employee.image.url">
						</div>
					</md-card-title-media>
					<md-card-title-text flex="nogrow">
						<h3>{{employee.name}}</h3>
						<h4>{{employee.department}}</h4>
					</md-card-title-text>
					<div flex></div>
					<md-button class="md-accent md-icon-button md-raised" ng-show="active">
						<md-tooltip>บันทึกข้อมูล/Save {{employee.name}}</md-tooltip>
						<i class="material-icons">save</i>
					</md-button>
					<md-button class="md-warn md-icon-button md-raised">
						<md-tooltip>ลบพนักงาน/Delete {{employee.name}}</md-tooltip>
						<i class="material-icons">remove</i>
					</md-button>
					<md-button class="md-icon-button expand" ng-show="!active">
						<md-tooltip>Expand</md-tooltip>
						<i class="material-icons">expand_more</i>
					</md-button>
					<md-button class="md-icon-button minimize" ng-show="active">
						<md-tooltip>Minimize</md-tooltip>
						<i class="material-icons">expand_less</i>
					</md-button>
				</md-card-title>
				
				<md-card-content flex="grow" ng-show="active">
					<div layout="row" layout-align="start start">
						<md-input-container ng-disabled="!currentUser.hasPermission('change_employee')" flex>
							<label>ชื่อ/Name</label>
							<input type="text" ng-model="employee.name" />
						</md-input-container>
						<md-input-container ng-disabled="!currentUser.hasPermission('change_employee')" flex>
							<label>แผนก/Department</label>
							<md-select ng-model="employee.department">
								<md-option value='migrant'>Migrant</md-option>
								<md-option value='woodworking'>ไม้/Woodworking</md-option>
								<md-option value='painting'>สี/Painting</md-option>
								<md-option value='polishing'>ปัดเงา/Polishing</md-option>
								<md-option value='packing'>Packing</md-option>
								<md-option value='upholstery'>หุ้ม/Upholstery</md-option>
								<md-option value='sewing'>เย็บ/Sewing</md-option>
								<md-option value='cutting fabric'>ตัดผ้า/Cutting Fabric</md-option>
								<md-option value='foam'>ฟองน้ำ/Foam</md-option>
								<md-option value='housekeeping'>แม่บ้าน/Housekeeping</md-option>
								<md-option value='accounting'>บัญชี/Accounting</md-option>
							</md-select>
						</md-input-container>
					</div>
					<div>
						<md-input-container>
							<label>สัญชาติ/Nationality</label>
							<md-select ng-model="employee.nationality">
								<md-option value='thai'>ไทย/Thai</md-option>
								<md-option value='cambodian'>กัมพูชา/Cambodian</md-option>
								<md-option value='burmese'>พม่า/Burmese</md-option>
								<md-option value='laos'>ลาว/Laos</md-option>
								<md-option value='vietnam'>เวียตนาม/Vietnam</md-option>
							</md-select>
						</md-input-container>
						<md-input-container>
							<label>ระยะเวลาการจ่ายเงิน/Paid Period</label>
							<md-select ng-model="employee.pay_period">
								<md-option value='daily'>รายวัน/Daily</md-option>
								<md-option value='monthly'>รายเดือน/Monthly</md-option>
							</md-select>
						</md-input-container>
					</div>
				</md-card-content>
				<md-card-actions ng-show="employee.$active" layout="row" layout-align="end center">
					<md-button class="md-icon-button md-accent" ng-show="currentUser.hasPermission('change_employee')" ng-click="save(employee)">
						<md-tooltip>Save</md-tooltip>
						<i class="material-icons">save</i>
					</md-button>
				</md-card-actions>
			</md-card>
		</md-content>
        
    </div>
    
</div>