

.createAcknowledgementPage{
    opacity:0;
    .transition(opacity, 1s, linear);

    .addPage;
    left:0;
    
    
	.file-drag-drop-modal{
		display:none;
		height:100%;
		width:100%;
		z-index:1000;
		position:absolute;
		background:rgba(255, 255, 255, 0.75);
		padding: 0.5em;
		color:rgba(0, 0, 0, 0.30);
		pointer-events:none;
		
		.container{
			border: 0.35em dashed rgba(0, 0, 0, 0.30);
			display:flex;
			align-items:center;
			justify-content:center;
			height:100%;
			width:100%;
			
			h2{
				font-size:2.5em;
				color:rgba(0, 0, 0, 0.25);
			}
		}
	}
	&.active{
		.file-drag-drop-modal{
			//display:block;
		}
	}
	
    
    
    .quantity_modal{
        width:200px;
        top:50%;
        left:50%;
        margin-left:-100px;
        margin-top:-100px;
        height:125px;
        background-color:#313131;
        .title{

            text-align:center;
            padding:0.2em 0em;
        }
        
        input{
            width:100px;
            position:absolute;
            top:50px;
            left:50px;
            border:none;
            outline:none;
            padding:0px;
            text-align:center;
        }
    } 
	
    .ack{
		overflow-y:scroll;
	    overflow-x:hidden;
	    position:absolute;
	    top:0px;
	    bottom:0px;
	    left:0px;
	    right:0px;
	    background:rgba(255, 255, 255, 1);
		display:flex;
		flex-direction:row;
		justify-content:space-around;
		
        .workspace{
	        height:auto;
	        width:95%;
	        z-index:1;
	        padding-bottom:50px;
			position:relative;
			top:inherit;
			bottom:inherit;
			
			.map-container{
				position:absolute;
				right:0;
				top:2em;
				width:40em;
				height:20em;
				
				#create-ack-map{
					height:100%;
					width:100%;
				}
			}
			
			.submenu{
				margin-top:2em;
				width:95%;
				display:flex;
				align-items:flex-start;
				
				.md-button{
					font-size:1.25em;
					margin-right:0.5em;
					padding:0.5em;
					font-family:proxima;
				}
			}
			
			.files{
				position:absolute;
				width:40em;
				height:auto;
				right:1em;
				top:22em;
				padding:1em;
				z-index:2;
				
                .title{
					margin-bottom:1em;  
					color:rgb(0, 0, 0);
	           		font-family:proxima;
                }
				
				.file{
					margin:0.5em 0;
					padding-left:0.5em;
					background:#575757;
					height:2em;
					display:flex;
					color:rgb(255, 255, 255);
					font-family:proxima;
					flex-direction:row;
					align-items:center;
					justify-content:space-between;
					text-decoration:none;
					
					.progress{
						display:none;
						color:rgb(255, 255, 255);
						
					}
					
					.checkmark{
						margin-right:0.75em;
						color:rgb(255, 255, 255);
						
					}
					&.uploading{
						
						.progress{
							display:block;
						}
					}
				}				
			}
			
            .customer{
                position:relative;
				width:50%;
                margin-top:2em;
                color:rgba(0, 0, 0, 1);
                
	          	h2{
	           		font-family:proxima;
	          	}
		  	  
				.customer-menu{
					display:flex;
					justify-content:space-between;
					width:22em;
					align-items:center;
				
				  	.md-button{
					  	display:none;
						padding:0.5em;
						font-family:proxima;
					
					  	&.add{
						  	&.active{
							  	display:block;
						  	}
					  	}
			  
					  	&.change{
						  	&.active{
							  	display:block;
						  	}
					  	}
				
						&.create-supplier{
							display:block;
						}
				  	}
				}
				
                .details{
				  	opacity:0;
					margin-top:1em;
				  	.transition(all, 250ms, linear);
			  
				  	&.active{
					  	height:auto;
					  	opacity:1;
					  	z-index:0;
				  	}
	              	tr{
	                  	td{
	                      	line-height:1.6em;
	                      	font-size:1em;
	                      	font-family:proxima;
	                      	letter-spacing:0.08em;
	                      	//States
	                      	&:first-child{
	                          	color:rgba(0, 0, 0, 1);   
	                      	}
	                      	&:last-child{
	                          	color:rgba(0, 0, 0, 1);
	                          	padding-left:20px;   
	                      	}
	                  	}
	              	}
                }
            }
			.company{
				.customer;
				
				.details{
				  	opacity:1;
				}
			}
            .order{
                .customer;
                position:relative;
                margin-top:2em;
                color:rgba(0, 0, 0, 1);
				
				.details{
  				  	margin-top:0em;
  				  	opacity:1;
  				  	z-index:0;
			  
			  
			  
  		          	tr{
				  
  						&.currency{
  						  	opacity:0;
  						  	.transition(all, 250ms, linear);
					  
  						  	&.active{
  							  	opacity:1;
  						  	}
  					  	}
				  
  		              	td{
  		                  	padding:0.25em 0;
				  		
  						  	.new-project-checkbox{
  							  	margin-left:2em;
  							  	margin-right:0.5em;
  						  	}
  						  	.new-project-name{
				  	
  						  	}
					  
  						  	input{
  							  	background-color:rgba(255, 255, 255, 1);
  							  	color:rgba(0, 0, 0, 1);
  							  	border:1px solid rgba(0, 0, 0, 0.35);
							  
  						  	  	&.vat{
  						  	  	  	width:3em;
  								  	text-align:center;
  						  	  	}
  							  	&.discount{
  							  	  	width:3em;
  								  	text-align:center;
  							  	}
							  
  							  	&.ng-invalid{
  								  	background-color:#A54243;
  							  	}
  						  	}
						  
  						  	textarea{
  							  	background-color:rgba(255, 255, 255, 1);
  							  	color:rgba(0, 0, 0, 1);
  							  	border:1px solid rgba(0, 0, 0, 0.35);
  						  	}
  		              	}
  		          	}
				}
            }
       
            .products{
				.customer;
	  			margin-top:2em;
	  			margin-bottom:2em;
	  			display:flex;
	  			flex-direction:column;
	  			align-items:center;
				
                .title{
  					align-self:flex-start;
                }
				
  				.item-menu{
  				  	margin-top:2em;
  				  	height:2.2em;
  				  	width:100%;
  				  	display:flex;
  				  	align-items:flex-start;
				  
  				  	.md-button{
  					  	padding:0.5em;
  					  	font-family:proxima;
  					  	margin-right:1.25em;
  				  	}
  			  	}
				
                .product{
	                color:rgba(0, 0, 0, 1);
                    font-size:1em;
                    position:relative;
                    width:100%;
                    margin-right:20px;
                    margin-top:30px;
                    border:1px solid #282828;
                    float:left;
                    border-radius:2px;
                    padding:10px;
                    min-height:100px;
                    -webkit-box-shadow: 0px 1px 0 rgba(255,255,255,.06),1px 1px 0 rgba(255,255,255,.03),-1px -1px 0 rgba(0,0,0,.02),inset 1px 1px 0 rgba(255,255,255,0.05);
                    box-shadow: 0px 1px 0 rgba(255,255,255,.06),1px 1px 0 rgba(255,255,255,.03),-1px -1px 0 rgba(0,0,0,.02),inset 1px 1px 0 rgba(255,255,255,0.05);
                    
                    .details{
                        margin-top:5px;
						opacity:1;
						
                        tr{
                            td{
                                padding:2px 0px 2px;
                                vertical-align:middle;
                                color:rgb(0, 0, 0, 1);
                                font-size:1em;
                                input{
                                    background: rgba(255, 255, 255, 1);
									border: 1px solid rgba(0, 0, 0, 0.35);
                                    width:60px;
									color:rgb(0, 0, 0);
                                    //padding:0px;
                                    margin-right:5px;
                                    .transition(all, 250ms, ease);
                                    
									//State
                                    &[disabled]{
                                    	background:rgba(0, 0, 0, 0.35);
                                    }
                                }
								
								textarea{
                                    background: rgba(255, 255, 255, 1);
									border: 1px solid rgba(0, 0, 0, 0.35);
                                    margin-right:5px;
									color:rgb(0, 0, 0);
                                    .transition(all, 250ms, ease);
                                    
									//State
                                    &[disabled]{
                                    	background:rgba(0, 0, 0, 0.35);
                                    }
								}
								
                                img{
                                    margin-left:5px;
                                    height:30px;
                                    width:auto;
                                }
                                //States
                                &:last-child{
                                    
                                    padding-left:20px;   
                                }
                            }
                        }
                    }
                    &>img{
                        height:150px;
                        max-width:50%;
                        position:absolute;
                        right:0px;
                        top:0px;
                        border-radius:0px 2px 0px 0px;
                    }
                    .remove_btn{
                        position:absolute;
                        bottom:0px;
                        right:0px;
                        border-radius:0px 0px 2px 0px;
                        font-size:10px;
                        padding:5px;
                        border:1px solid #282828;
                        color:#828282;
                        cursor:pointer;
                        -webkit-box-shadow: 0px 1px 0 rgba(255,255,255,.06),1px 1px 0 rgba(255,255,255,.03),-1px -1px 0 rgba(0,0,0,.02),inset 1px 1px 0 rgba(255,255,255,0.05);
                        box-shadow: 0px 1px 0 rgba(255,255,255,.06),1px 1px 0 rgba(255,255,255,.03),-1px -1px 0 rgba(0,0,0,.02),inset 1px 1px 0 rgba(255,255,255,0.05);
                        .transition(all, 250ms, ease);
                        &:hover{
                            color:#FFFFFF;
                        }
                    }
                }
            }
        }
    }
    //Page States
    &.fadeIn{
        opacity:1;
    }
}
