

.acknowledgementViewPage{
    .viewPage;
    span{
        font-family:proxima;
        spacing:0.08em;
    }
    left:0;
    background-color:rgba(0, 0, 0, 0);
    
    .nav-bar{
        height:2em;
        top:0;
        background-color:black;
        .add{
            position:absolute;
            right:1em;
            color:white;
            text-decoration:none;
            margin:0.5em 0;
            &:active{
              color:blue;
            }
        }
    }
    .workspace{
        position:absolute;
        top:0;
        bottom:0;
        left:0;
		right:0;
		background:#FFF;
		padding-top:3em;
		padding-bottom:1em;
		display:flex;
		flex-direction:column;
		align-items:center;
		
		.acknowledgement-summary{
			width:95%;
			height:5em;
			display:flex;
			flex-direction:row;
			align-items:center;
			overflow:visible;
			margin-bottom:2em;
			
			div{
				padding:1em 0;
				width:0em;
				overflow:hidden;
				z-index:1;
				cursor:pointer;
				display:flex;
				flex-direction:column;
				align-items:flex-start;
				justify-content:space-between;
				box-shadow:0 5px 10px 1px rgba(0, 0, 0, 0);
				transition-property: margin-bottom, box-shadow;
				transition-duration:250ms;
				
				&:hover{
					margin-bottom:0.35em;
					//-webkit-box-shadow: 0 5px 10px 1px rgba(0,0,0,0.15);
					box-shadow: 0 5px 10px 1px rgba(0,0,0,0.25);
					z-index:0;
				}
				
				&.acknowledged{
					background-color:rgb(54, 66, 140);
				}
				
				&.deposit-received{
					background-color:rgb(50, 130, 120);
				}
				
				&.in-production{
					background-color:rgb(198, 148, 77);
				}
				
				&.ready-to-ship{
					background-color:rgb(87,117,83);
				}
				
				&.shipped{
					background-color:rgb(97,92,130);
				}
				
				&.invoiced{
					background-color:rgb(163, 81, 82);
				}
				
				&.paid{
					background-color:rgb(87, 132, 87);
				}
				
				
				
				h2{
					color:rgba(255, 255, 255, 1);
					font-family:proxima;
					font-size:1em;
					white-space:nowrap;
					margin:0 0 0 1em;
				}
			}
		}
		
		nav{
			width:95%;
			display:flex;
			flex-direction:row;
			justify-content:space-between;
			align-items:center;
			margin-bottom:2em;
			
			.title{
				
			}
			
			.right-menu{
				display:flex;
				justify-content:space-between;
				align-items:center;
				
				.map-btn{
					margin-right:1em;
				}
				
				.add-btn{
					align-self:flex-end;
					text-decoration:none;
					font-family:proxima;
					background:#607d8b;
					color:#FFF;
					padding:1em;
					width:10em;
				}
			}
			
		}
		
		.acknowledgements-container{
			display:flex;
			flex-wrap:nowrap;
			width:95%;
			position:relative;
			height:100%;
			
			.acknowledgements{
				width:100%;
				height:100%;
				position:absolute;
				top:0;
				left:0;
				z-index:1;
				
				.title-bar{
					display:flex;
					flex-direction:row;
					border-bottom: 1px solid #4F6874;
					background-color:rgb(96,125,139);
					width:100%;
				
					div{
						display:flex;
						flex-direction:row;
						align-items:center;
						justify-content:space-around;
						padding:1em;
						background:rgb(96,125,139);
						color:rgba(255, 255, 255, 1);
						border-left:1px dotted rgba(0, 0, 0, 0.35);
				
						&:first-child{
							border-left:none;
						}
				
						&.id{
							width:5%;
						}
	
						&.order-date{
							width:9%;
						}
	
						&.customer{
							width:15%;
						}
				
						&.po{
							width:8%
						}
				
						&.project{
							width:15%;
						}
	
						&.delivery-date{
							width:10%;
						}
				
						&.total{
							width:8%;
						}
				
						&.status{
							width:15%;
						}
				
						&.remarks{
							width:15%;
						}
					}
				}
		
		        .outer-container{
		            height:100%;
		            overflow-y:scroll;
					width:100%;
			
		            .inner-container{
		                width:100%;
		                height:auto;
		                .item-container{
		                    width:100%;
		                    position:relative;
		                    height:3.5em;
							display:flex;
							flex-direction:column;
							overflow-x:hidden;
							z-index:0;
		                    
                    		&:hover{
								z-index:1;
								//-webkit-box-shadow: 0 5px 10px 1px rgba(0,0,0,0.35);
								//box-shadow: 0 5px 10px 1px rgba(0,0,0,0.35);
								
								.status-bar{
									.event{
										height:100%;
										background:#EEE;
										width:14.285%;
									
										&.acknowledged{
											background-color:rgb(54, 66, 140);
										}
				
										&.deposit-received{
											background-color:rgb(50, 130, 120);
										}
				
										&.in-production{
											background-color:rgb(198, 148, 77);
										}
				
										&.ready-to-ship{
											background-color:rgb(87,117,83);
										}
				
										&.shipped{
											background-color:rgb(97,92,130);
										}
				
										&.invoiced{
											background-color:rgb(163, 81, 82);
										}
				
										&.paid{
											background-color:rgb(87, 132, 87);
										}
									}
								}
                 
                    		}
							
                    		&.active{
								z-index:1;
								//-webkit-box-shadow: 0 5px 10px 1px rgba(0,0,0,0.35);
								//box-shadow: 0 5px 10px 1px rgba(0,0,0,0.35);
								
								.status-bar{
									.event{
										height:100%;
										background:#EEE;
										width:14.285%;
									
										&.acknowledged{
											background-color:rgb(54, 66, 140);
										}
				
										&.deposit-received{
											background-color:rgb(50, 130, 120);
										}
				
										&.in-production{
											background-color:rgb(198, 148, 77);
										}
				
										&.ready-to-ship{
											background-color:rgb(87,117,83);
										}
				
										&.shipped{
											background-color:rgb(97,92,130);
										}
				
										&.invoiced{
											background-color:rgb(163, 81, 82);
										}
				
										&.paid{
											background-color:rgb(87, 132, 87);
										}
									}
								}
                 
                    		}
							
		                    .item{
								display:flex;
								flex-direction:row;
		                        width:100%;
		                        background-color:#FFF;
		                        left:0;
								top:0;
		                        font-size:1em;
		                        height: 3em;
		                        border-bottom:1px dotted rgba(0, 0, 0, 0.35);
		                        text-decoration:none;
		                        color:#000;
		                        cursor:pointer;
		                        .transition(all, 150ms, linear);
                        
								&:hover{
		                            background-color:#E4EEF4;
		                        }
                        
		                        &.selected{
		                            background-color:orange;
		                        }
						
                        
								div{
									display:flex;
									flex-direction:row;
									align-items:center;
									padding-left:1em;
									justify-content:flex-start;
									border-left:1px dotted rgba(0, 0, 0, 0.35);
							
									&:first-child{
										border-left:none;
									}
							
									&.id{
										width:5%;
									}
	
									&.order-date{
										width:9%;
									}
	
									&.customer{
										width:15%;
									}
							
									&.po{
										width:8%;
									}
				
									&.project-id{
										width:3%;
										padding-left:0.2em;
									}
							
									&.project{
										width:12%;
									}
	
									&.delivery-date{
										width:10%;
									}
				
									&.total{
										width:8%;
										justify-content:flex-end;
										padding:0 1em 0 0;
									}
				
									&.status{
										width:15%;
								
										&.acknowledged{
											color:#0098cd;
										}
								
										&.shipped{
											color:#54947A;
										}
									}
							
									&.remarks{
										width:15%;
									}
								}
		                    }
							
							.status-bar{
								height:.5em;
								width:100%;
								background:pink;
								display:flex;
								flex-direction:row;
								
								
								.event{
									height:100%;
									background:#EEE;
									width:14.285%;
									
									@tint-amount: 50%;
									
									&.acknowledged{
										background-color:tint(rgb(54, 66, 140), @tint-amount);
									}
				
									&.deposit-received{
										background-color:tint(rgb(50, 130, 120), @tint-amount);
									}
				
									&.in-production{
										background-color:tint(rgb(198, 148, 77), @tint-amount);
									}
				
									&.ready-to-ship{
										background-color:tint(rgb(87,117,83), @tint-amount);
									}
				
									&.shipped{
										background-color:tint(rgb(97,92,130), @tint-amount);
									}
				
									&.invoiced{
										background-color:tint(rgb(163, 81, 82), @tint-amount);
									}
				
									&.paid{
										background-color:tint(rgb(87, 132, 87), @tint-amount);
									}
								}
							}
		                }
		            }
		        }
			}
		
			.map-container{
				width:48%;
				position:absolute;
				height:100%;
				right:0;
				top:0;
				z-index: 0;
				
				#acknowledgement-map{
					height:100%;
					width:100%;
				}
			}
		}
		
		
		&.map{
						
			.acknowledgements-container{
	
				.acknowledgements{
					width:50%;
					
					.title-bar{
						div{
							&.id{
								width:15%;
							}
							
							&.delivery-date{
								width:18%;
							}
							
							&.order-date{
								display:none;
							}
							
							&.customer{
								width:30%;
							}
							
							&.po{
								width:15%;
							}
							
							&.status{
								display:none;
							}
							
							&.date{
								display:none;
							}
							
							&.project-id{
								display:none;
							}
							
							&.project{
								display:none;
							}

							&.total{
								display:none;
							}

							&.remarks{
								width:22%;
							}
						}
					}
			
					.outer-container{
						.inner-container{
							.item{
								
								.title-bar;
							}
						}
					}
				}
			
				.map-container{
				}
			}
		}
    }
}
