<div class="project-view-page">
    
    <!--
        Sidebar
    -->
	
        
    <!--
        Workspace
    -->
    
    <div class="workspace">
        
        <md-toolbar layout="column" layout-align="center center" md-scroll-shrink="true">
			<div class="container" layout="row" layout-align="center center">
				<h3><span>Projects</span></h3>
				<div flex></div>

				<md-button class="md-icon-button md-primary md-raised" ng-show="::currentUser.hasPermission('add_project')" ng-click="showAddProject()"> <!--</md-button>ng-href="#/order/acknowledgement/create">-->
					<md-tooltip>
						Create New Project
					</md-tooltip>
					<i class="material-icons">create</i>
				</md-button>
				
				<input class="search" type="text" ng-model="query.$.$" />
			</div>



			<div class="title-bar" layout="row">
				<div class="id">ID</div>
				<div class="codename">NAME</div>
				<div class="customer">CUSTOMER</div>
				<div class="website">WEBSITE</div>
				<div class="status">STATUS</div>
			</div>


        </md-toolbar>
        <!--
		
    -->
        <div class="outer-container" on-scroll-end="loadNext()"> 
	    	<div class="inner-container" >
	    		<div class="item-container" ng-repeat="project in projects | filter:query.$.$ | orderBy:'-id' track by project.id">
	    			<div class="item" ng-class="{'selected':project.$selected}">
						<div class="id item-section" ng-click="navigate(project.id)">{{project.id}}</div>
						<div class="codename item-section" ng-click="navigate(project.id)">
							<span>{{project.codename}}</span>
						</div>
						<div class="customer item-section" ng-click="navigate(project.id)">
							<span>{{project.customer.name}}</span>
						</div>
						<div class="website item-section">
							<md-switch ng-model="project.website"></md-switch>
						</div>
						<div class="status item-section">
							<md-select ng-model="project.status" md-on-close="update(project)">
								<md-option value="planning">Planning</md-option>
								<md-option value="in production">In Production</md-option>
								<md-option value="completed">Completed</md-option>
							</md-select>
						</div>
						
					</div>
	    				
	    		</div>
	    	</div>
    	</div>
    </div>
    
</div>