<div class="acknowledgementViewPage">
	<!--
        Sidebar
    -->
	<div class="nav-bar">
		<span class="title">Acknowledgements</span>
		<a class="add" ng-href="#/order/acknowledgement/create"><span>Create</span></a>
	</div>
	<!--
        Search Bar
    -->
	<div data-search-bar ng-model='query'></div>
	<!--
        Workspace
    -->
	<div class="workspace list">
		<div class="outer-container" on-scroll-end="loadNext()">
			<ul class="inner-container">
				<li class="item-container" data-ng-repeat="ack in acknowledgements | filter:query">
					<a class="item" ng-class="{'selected':ack.$selected}" ng-href="#/order/acknowledgement/{{ack.id}}">
						<span class="description">{{ack.id}}</span>
						<span class="customer">{{ack.customer.name}}</span>
						<span class="status" ng-class="{acknowledged:ack.status == 'ACKNOWLEDGED', shipped:ack.status == 'SHIPPED'}">
	    					{{ack.status}}
	    				</span>
						<span class="items">{{ack.items.length}} Items</span>
						<span class="delivery-date">{{ack.delivery_date | date: "MMM d, yyyy"}}</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>