

<div class="acknowledgement-details-page" file-drop="addFiles($files)">
    
    
    <div class="calendar-modal" data-modal  ng-model="showCal">
        <div ui-date ng-model="acknowledgement.delivery_date"></div>
        <div class="bottom_bar">
            <button ng-click="showCal=false">Select</button>
        </div>
            
    </div>
	
    <div data-modal ng-model="showFabric" class="fabric_modal">
        <div class="title">
            Fabric
        </div>
        
        <div class="container">
            <div class="product_container">
                <div class="product" data-drop-on="item.fabric">
                    <div>{{item.description}}</div>
                    
                    <div class="fabric" ui-if="item.fabric">
                        Fabric:  {{item.fabric.description}}
                        <img ng-src="{{item.fabric.image_url}}" />
                    </div>
                    
                </div>
                <div class="pillow" ng-repeat="pillow in item.pillows" data-drop-on="pillow.fabric">
                    <div>{{pillow.type | beautify}} Pillow</div>
                    <div class="fabric">
                        Fabric: {{pillow.fabric.description}}
                        <img ng-src="{{pillow.fabric.image_url}}" />
                    </div>
                </div>
            </div>
            <div class="fabric_container">
                <div data-search-bar></div>
                <ul class="list">
                    <li class="item" ng-repeat="fabric in fabricList | filter:query " data-drag-on="fabric">
                        <img ng-src="{{fabric.image_url}}" />
                        <div class="details">
                            Pattern: {{fabric.pattern}}
                            <br />
                            Color: {{fabric.color}}
                        </div>
                        
                    </li>
                </ul>
            </div>
        </div>
        <div class="bottom_bar">
            <button ng-click="showFabric = false">Submit</button>
        </div>
    </div>
    
    <!--
        Sidebar
    -->
    <div class="sidebar">
        <header>
            <h1><span>Acknowledgement</span></h1>
        </header>
        <nav>
            <ul>
                <li ng-show="currentUser.hasPermission('change_acknowledgement')">
                    <div ng-click="save()">Save</div>
                </li>
                <li ng-show="currentUser.hasPermission('change_acknowledgement')">
                    <div ng-click="showCal=true">Change Delivery Date</div>
                </li>
                <li>
                    <a ng-href="{{acknowledgement.pdf.acknowledgement}}"target="_blank">View Acknowledgement</a>
                </li>
                <li>
                    <a ng-href="{{acknowledgement.pdf.confirmation}}"target="_blank">View Confirmation</a>
                </li>
                <li>
                    <a ng-href="{{acknowledgement.pdf.production}}"target="_blank">View Production</a>
                </li>
                <li>
                    <a ng-href="{{acknowledgement.pdf.label}}"target="_blank">View Shipping Labels</a>
                </li>
				<!--
                <li>
                    <div ng-click="viewLog()">View Log</div>
                </li>
					-->
                <li ui-if="currentUser.hasPermission('delete_acknowledgement')">
                    <div ng-click="remove()">Delete</div>
                </li>
            </ul>
        </nav>
    </div>

    <div class="workspace">
        <div class="details">
            <table>
                <tr>
                    <td>Order #: </td>
                    <td>{{acknowledgement.id}}</td>
                </tr>
                <tr class="customer">
                    <td>Customer: </td>
                    <td>{{acknowledgement.customer.name}}</td>
                </tr>
                <tr class="order-date">
                    <td>Order Date: </td>
                    <td>{{acknowledgement.time_created | date:"MMMM d, yyyy"}}</td>
                </tr>
                <tr class="due-date">
					
                    <td>Status: </td>
                    <td>
						<select ng-model="acknowledgement.status">
							<option value="acknowledged">Acknowledged</optioon>
							<option value="in production">In Production</option>
							<option value="shipped">Shipped</option>
							<option value="invoiced">Invoiced</option>
							<option value="paid">Paid</option>
						</select>
					</td>
                </tr>
            </table>
            <table>
                <tr class="due-date">
                    <td>Devlivery Date: </td>
                    <td>
						<md-button class="md-accent" ng-click="showCal=true">
							{{acknowledgement.delivery_date | date:"MMMM d, yyyy"}}
						</md-button>
					</td>
                </tr>
                <tr class="project">
                    <td>Project:</td>
                    <td>
						<select ng-options="project.codename for project in projects" ng-model="acknowledgement.project">
                    </td>
                </tr>
                
                <tr>
                    <td>Total Items: </td>
                    <td>{{acknowledgement.items.length}}</td>
                </tr>
            </table>
        </div>
		
		<md-tabs class="md-primary" md-selected="selectedIndex">
			<md-tab label="Items">
				
			</md-tab>
			<md-tab label="Attachments">
				
			</md-tab>
				
		</md-tabs>
		
		<div class="panel-container">
			<ng-switch on="selectedIndex">
				<div ng-switch-when="0" class="items-panel">
					<!--
					<table>
						<thead>
							<tr>
								<td>PREVIEW</td>
								<td>DESCRIPTION</td>
								<td>WIDTH</td>
								<td>DEPTH</td>
								<td>HEIGHT</td>
								<td>FABRIC</td>
								<td>STATUS</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in acknowledgement.items">
								<td class="preview">
									<div class="img-container">
										<img ng-src="{{item.image.url}}" />
									</div>
								</td>
								<td class="description">{{item.description}}</td>
								<td class="width">{{item.width}}</td>
								<td class="depth">{{item.depth}}</td>
								<td class="height">{{item.height}}</td>
								<td class="fabric">{{item.fabric.description}}</td>
								<td class="status" ng-class="item.status.toLowerCase()">{{item.status}}</td>
							</tr>
						</tbody>
					</table>
					-->
					
					<div class="title-bar">
						<div class="preview">PREVIEW</div>
						<div class="description">DESCRIPTION</div>
						<div class="width">WIDTH</div>
						<div class="depth">DEPTH</div>
						<div class="height">HEIGHT</div>
						<div class="fabric">FABRIC</div>
						<div class="status">STATUS</div>
					</div>
					<div class="outer-container">
						<div class="inner-container">
							<div class="item-container" ng-repeat="item in acknowledgement.items"  ng-class="{'active': active}" ng-click="active=true">
								<div class="item">
						
									<div class="preview">
										<div class="img-container">
											<img ng-src="{{item.image.url}}" />
										</div>
									</div>
									<div class="description">{{item.description}}</div>
									<div class="width">{{item.width}}</div>
									<div class="depth">{{item.depth}}</div>
									<div class="height">{{item.height}}</div>
									<div class="fabric">{{item.fabric.description}}</div>
									<div class="status" ng-class="item.status.toLowerCase()">
										{{item.status}}
										
									</div>
									<div class="item-menu">
										<md-button ng-click="showFabric=true" class="md-accent md-raised">Change Fabric</md-button>
									</div>
								</div>
							</div>
						</div>
					</div>
							
				</div>
				<div ng-switch-when="1" class="file-panel">
					<div class="title-bar">
						<div class="filename">
							FILENAME
							
						</div>
						<div class="type">TYPE</div>
					</div>
					<div class="outer-container">
						<div class="inner-container">
							<div class="item-container" ng-repeat="file in acknowledgement.files">
								<a class="item" ng-href="{{file.url}}" target="_blank">
									<div class="filename">
										{{file.filename}}
										<md-progress-linear ng-show="!file.id" class="progress md-hue-2" md-mode="indeterminate"></md-progress-linear>
									</div>
									<div class="type">{{file.type}}</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</ng-switch>
		</div>
</div>

