<div class="acknowledgementViewPage">
    
    <!--
        Sidebar
    -->
    
	<!--
    <div class="sidebar">
        <header>
            <h1>
                <span>Acknowledgements</span>
            </h1>
        </header>
        <nav>
            <ul class="list">
                <li ui-if="currentUser.hasPermission('add_acknowledgement')"><a ng-href="#/order/acknowledgement/create">Create</a></li>
            </ul>
        </nav>
    </div>
    -->
    <!--
        Search Bar
    -->
    
    <div data-search-bar ng-model='query.$.$'></div>
    
    <!--
        Workspace
    -->
    
    <div class="workspace">
		
		<nav>
			<h2>Acknowledgements</h2>
			<md-button class="add-btn md-primary md-raised" ui-if="currentUser.hasPermission('add_acknowledgement')" ng-href="#/order/acknowledgement/create">New Order</md-button>
		</nav>
		
		<div class="title-bar">
			<div class="id">ORDER ID</div>
			<div class="order-date">DATE</div>
			<div class="customer">CUSTOMER</div>
			<div class="project">PROJECT</div>
			<div class="delivery-date">DELIVERY DATE</div>
			<div class="total">TOTAL</div>
			<div class="status">STATUS</div>
		</div>
		
    	<div class="outer-container" on-scroll-end="loadNext()"> 
			
	    	<ul class="inner-container" >
	    		<li class="item-container" data-ng-repeat="ack in acknowledgements | filter:query">	
	    			<a class="item" ng-class="{'selected':ack.$selected}" ng-href="#/order/acknowledgement/{{ack.id}}">
						<div class="id">{{ack.id}}</div>
						<div class="order-date">{{ack.time_created | date: "MMM d, yyyy"}}</div>
						<div class="customer">{{ack.customer.name}}</div>
						<div class="project-id">{{ack.project.id}}</div>
						<div class="project">{{ack.project.codename}}</div>
						<div class="delivery-date">{{ack.delivery_date | date: "MMM d, yyyy"}}</div>
						<div class="total">{{ack.total}}</div>
						<div class="status" ng-class="ack.status.toLowerCase()">{{ack.status}}</div>
						<!--
	    				<span class="description">{{ack.id}}</span>
	    				<span class="customer">{{ack.customer.name}}</span>
	    				<span class="status" ng-class="{acknowledged:ack.status == 'ACKNOWLEDGED', shipped:ack.status == 'SHIPPED'}">
	    					{{ack.status}}
	    				</span>
	    				<span class="items">{{ack.items.length}} Items</span>
	    				<span class="delivery-date">{{ack.delivery_date | date: "MMM d, yyyy"}}</span>
						-->
	    			</a>
	    				
	    		</li>
	    	</ul>
    	</div>
    </div>
    
</div>