


.upholstery-view-page{
  .viewPage;
  
  .workspace{
      
       .outer-container{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            
            overflow-y:scroll;
            .inner-container{
                width:100%;
                
                .item-container{
                    width:100%;
                    
                    .item{
                        width:100%;
                        height:5em;
                        
                        .description{
                            left: 11em;
                        }
                        
                        .thumbnail{
                            height:100%;
                            width:10em;
                            overflow:hidden;
                            background:white;
                            position:absolute;
                            img{
                                height:100%;
                                width:auto;
                            }
                        }
                        
                    }
                }
            }
       }
  }
  
}
