<div class="createShippingPage" ng-init="showCustomers=false; show_upholstery=false;showCustom_item=false;" fade-in>    
    
    <form class="shipping" name="form" ec-droppable="add()" novalidate>
        
     
        
        <!--
            Workspace
        -->
        <div class="workspace">
			<md-toolbar layout="row" layout-align="center center">
				<h3><span>Create Shipping Document</span></h3>
				<div flex></div>
				<md-button class="md-icon-button md-accent md-raised">
					<md-tooltip>Create</md-tooltip>
					<i class="material-icons" ng-click="create()">create</i>
				</md-button>
				<md-button class="md-icon-button md-warn md-raised">
					<md-tooltip>Reset</md-tooltip>
					<i class="material-icons" ng-click="reset()">clear all</i>
				</md-button>
			</md-toolbar>
			<md-content>
			<!--
                <div class="acknowledgement">
					<md-input-container>
				        <label>Acknowledgement</label>
				        <md-select ng-model="ack" ng-model-options="{trackBy: '$value.id'}" ng-change="addAcknowledgement(ack)">
				          	<md-option ng-repeat="acknowledgement in acknowledgements" ng-value="acknowledgement">
				            	{{acknowledgement.id}}
				         	 </md-option>
				        </md-select>
				    </md-input-container>
         			<span></span>
                </div>-->
				<md-card>
					<md-card-content>
						<div class="acknowledgement">
							<md-input-container>
								<md-autocomplete flex required 
									md-items="acknowledgement in searchAcknowledgements(ackSearchText)" 
									md-search-text-change="retrieveAcknowledgements(ackSearchText)"
									md-selected-item-change="addAcknowledgement(selectedAcknowledgement)"
									md-selected-item="selectedAcknowledgement"
									md-no-cache="true"
									md-search-text="ackSearchText"
									md-item-text="acknowledgement.id"
									md-floating-label="Acknowledgement"
									md-min-length="0">
									<md-item-template>
										<span md-highlight-text="ackSearchText">{{acknowledgement.id}}</span>
									</md-item-template>
									
								</md-autocomplete>
							</md-input-container>
						</div>
					</md-card-content>
				</md-card>
				<md-card>
					<md-card-content>
						<div class="customer">
								<div class='info'>
									<md-autocomplete flex="onshrink" required
										name='customer'
										md-items="customer in searchCustomers(customerSearchText)"
										md-selected-item="selectedCustomer"
										md-selected-item-change="addCustomer(selectedCustomer)"
										md-search-text="customerSearchText"
										md-search-text-change="updateCustomerName(customerSearchText)"
										md-item-text="customer.name"
										md-floating-label="Customer Name"
										md-no-cache="true"
										md-min-length="0">
									    <md-item-template>
									    	<span md-highlight-text="customerSearchText">{{customer.name}}</span>
									    </md-item-template>
										<div ng-messages="ackForm.customer.$error">
											<div class="hint" ng-message="true">Starting typing to search or just type the name...</div>
										</div>
									</md-autocomplete>
									<md-input-container>
									  <label>Telephone</label>
									  <md-icon md-font-icon="material-icons">phone</md-icon>
									  <input type="text" ng-model="shipping.customer.telephone">
							          <div class="hint">How do we contact them?</div>

									</md-input-container>
									<md-input-container>
									  <label>Fax</label>
									  <md-icon md-font-icon="material-icons">receipt</md-icon>
									  <input type="text" ng-model="shipping.customer.fax">
							          <div class="hint">How do we send them an invoice?</div>

									</md-input-container>
									<md-input-container>
									  <label>Email</label>
									  <md-icon md-font-icon="material-icons">email</md-icon>
									  <input type="text" ng-model="shipping.customer.email">
							          <div class="hint">How do we send them messages?</div>

									</md-input-container>
								</div>

								<div class="address">
									<md-input-container>
									  <label>Address</label>
									  <input type="text" size="80" ng-model="shipping.customer.addresses[0].address1">
									</md-input-container>
									<md-input-container>
									  <label>City</label>
									  <input type="text" ng-model="shipping.customer.addresses[0].city">
									</md-input-container>
									<md-input-container>
									  <label>Territory</label>
									  <input type="text" ng-model="shipping.customer.addresses[0].territory">
									</md-input-container>
									<md-input-container>
									  <label>Country</label>
									  <input type="text" ng-model="shipping.customer.addresses[0].country">
									</md-input-container>
									<md-input-container>
									  <label>Zipcode</label>
									  <input type="text" ng-model="shipping.customer.addresses[0].zipcode">
									</md-input-container>
								</div>
								<div class="contact">
									<md-autocomplete flex="onshrink" required
										name='contact'
										md-items="contact in (shipping.customer.contacts || [])"
										md-selected-item="selectedContact"
										md-selected-item-change="addContact(selectedContact)"
										md-search-text="contactSearchText"
										md-search-text-change="updateContactName(contactSearchText)"
										md-item-text="contact.name"
										md-floating-label="Contact Name"
										md-no-cache="true"
										md-min-length="0">
									    <md-item-template>
									    	<span md-highlight-text="contactSearchText">{{contact.name}}</span>
									    </md-item-template>

									</md-autocomplete>
									<md-input-container>
									  <label>Contact Telephone</label>
									  <input type="text" size="30" ng-model="ack.contact.telephone">
									</md-input-container>
									<md-input-container>
									  <label>Contact Email</label>
									  <input type="text" size="40" ng-model="ack.contact.email">
									</md-input-container>
								</div>

				            </div>

							 <div class="order" layout="row">
								<div class='details' layout="row">
									<div class="date-container" layout="column">
										<md-datepicker name="dateField" ng-model="shipping.delivery_date" md-placeholder="Delivery Date" required>
										</md-datepicker>
							            <div class="hint">When do we deliver?</div>
									</div>

									<md-input-container>
									  	<label>Remarks</label>
										<!--
	  								  	<md-icon md-font-icon="material-icons">comment</md-icon>
											-->
										<textarea ng-model="shipping.remarks"></textarea>
							            <div class="hint">Any other details?</div>

									</md-input-container>
								</div>
				            </div>

					</md-card-content>
				</md-card>
				<!--
                <div class="acknowledgement">
					<md-input-container>
						<md-autocomplete flex required 
							md-items="acknowledgement in searchAcknowledgements(ackSearchText)" 
							md-search-text-change="retrieveAcknowledgements(ackSearchText)"
							md-selected-item-change="addAcknowledgement(selectedAcknowledgement)"
							md-selected-item="selectedAcknowledgement"
							md-no-cache="true"
							md-search-text="ackSearchText"
							md-item-text="acknowledgement.id"
							md-floating-label="Acknowledgement"
							md-min-length="0">
						    <md-item-template>
						    	<span md-highlight-text="ackSearchText">{{acknowledgement.id}}</span>
						    </md-item-template>
							
						</md-autocomplete>
				    </md-input-container>
         			<span></span>
                </div>
				-->
				<!--
                <div class="customer">
                    <span class="title">Customer</span>
                    <table class="details">
                        <tr>
                            <td>Acknowledgment #:</td>
                            <td>{{shipping.acknowledgement.id}}</td>
                        <tr>
						<tr>
                            <td>Name:</td>
                            <td>{{shipping.customer.name}}</td>
                        <tr>
                            <td>Address:</td>
                            <td>
                                {{shipping.customer.addresses[0].address1}}
                                <br />
                                {{shipping.customer.addresses[0].city}}, {{shipping.customer.addresses[0].territory}}
                                <br />
                                {{shipping.customer.addresses[0].territory}}, {{shipping.customer.addresses[0].country}} {{shipping.customer.addresses[0].zipcode}}
                            </td>
                        </tr>
                        <tr>
                            <td>Telephone:</td>
                            <td>{{shipping.customer.telephone}}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{shipping.customer.email}}</td>
                        </tr>
                    </table>
                </div>
                
                <div class="order">
                    <md-datepicker md-placeholder="Delivery Date" ng-model="shipping.delivery_date"></md-datepicker>
					<md-input-container>
					  	<label>Remarks</label>
						<textarea ng-model="shipping.remarks"></textarea>
					</md-input-container>
                </div>
                -->
				<md-card class="add-product" layout="row" layout-align="start center" file-drop="addImage($files, (tempProduct || {description: productSearchText}))">
					<md-card-actions layout="row" layout-align="center center">
						<md-button class="add md-accent md-raised md-icon-button" ng-click="addItem(tempProduct || {description: productSearchText})">
							<md-tooltip>Add Product</md-tooltip>
							<i class="material-icons">add_shopping_cart</i>
						</md-button>
			        </md-card-actions>
					<md-card-content layout="row" layout-align="start center">
						<md-autocomplete flex required
							md-items="product in searchProducts(productSearchText)"
							md-search-text-change="retrieveUpholsteries(productSearchText)"
							md-selected-item="tempProduct"
							md-no-cache="true"
							md-search-text="productSearchText"
							md-item-text="product.description"
							md-floating-label="Product Description"
							md-min-length="0">
						    <md-item-template>
						    	<span md-highlight-text="productSearchText">{{product.description}}</span>
						    </md-item-template>
							<div ng-messages="true">
								<div class="hint" ng-message="true">Starting typing to search or just type the description and add...</div>
							</div>
						</md-autocomplete>
					</md-card-content>
					<md-card-title-media>
						<div class="md-media-md card-media">
							<img ng-src="{{tempProduct.image.url}}">
						</div>
					</md-card-title-media>
				</md-card>

				<md-card class="item" ng-repeat="item in shipping.items track by $index" layout="column"  file-drop="addImage($files, item)" file-drop-class="item-drag-active">
					<div class="drag-placeholder">
						<h2>Drop Image Here</h2>
					</div>
					<md-card-title>
			          	<md-card-title-text>
			            	<span class="md-headline">{{item.description}}</span>
			          	</md-card-title-text>
			        </md-card-title>
					<md-card-content layout="row">
						<md-card-actions layout="row" layout-align="end center">
							<md-button class="add md-warn md-raised md-icon-button" ng-click="removeItem($index)">
								<md-tooltip>Remove {{item.description}} from the order</md-tooltip>
								<i class="material-icons">remove</i>
							</md-button>
				        </md-card-actions>
						<table class="product-details">
							<tr>
								<td>
									<md-input-container>
										<label>Quantity</label>
										<input name="quantity" type="number" ng-model="item.quantity" min="0" required />
										<div ng-messages="ackForm.quantity.$error">
											<div ng-message="required">This required is required</div>
											<div ng-message="min">Quantity should be greater than 0</div>
										</div>
							            <div class="hint">How many pieces did they order?</div>
									</md-input-container>
								</td>
							</tr>
							<tr>
								<td>
									<md-input-container>
										<label>Width (mm)</label>
										<input type="number" ng-model="item.width" min="0" required />
									</md-input-container>
								</td>
								<td>
									<md-input-container>
										<label>Depth (mm)</label>
										<input type="number" ng-model="item.depth" min="0" required />
									</md-input-container>
								</td>
								<td>
									<md-input-container>
										<label>Height (mm)</label>
										<input type="number" ng-model="item.height" min="0" required />
									</md-input-container>
								</td>
							</tr>
							<tr class="fabric">
								<td colspan="2">
									<md-autocomplete flex
										md-items="fabric in searchFabrics(fabricSearchText)"
										md-search-text-change="retrieveFabrics(fabricSearchText)"
										md-selected-item="item.fabric"
										md-search-text="fabricSearchText"
										md-item-text="fabric.description"
										md-floating-label="Fabric"
										md-no-cache="true"
										md-min-length="0">
								    <md-item-template>
								    	<span md-highlight-text="fabricSearchText">{{fabric.description}}</span>
								    </md-item-template>
									<div ng-messages="true">
										<div class="hint" ng-message="true">What's the number on their purchase order?</div>
									</div>
								</md-autocomplete>
								</td>
								<td>
									<img ng-src="{{item.fabric.image.url}}" />
								</td>
							</tr>
							<tr class="remarks">
								<td colspan="2">
									<md-input-container>
									  	<label>Remarks</label>
										<!--
	  								  	<md-icon md-font-icon="material-icons">comment</md-icon>
											-->
										<textarea ng-model="item.comments"></textarea>
							            <div class="hint">Any other details?</div>

									</md-input-container>
								</td>
							</tr>
							<tr class="components">
								<td colspan="3">
									<div>
										<div class="add-component-container">
											<md-input-container class="description">
												<label>Component Description</label>
												<input type="text" ng-model="tempComponent.description" />
											</md-input-container>
											<md-input-container class="quantity">
												<label>Quantity</label>
												<input type="number" ng-model="tempComponent.quantity" />
											</md-input-container>
											<md-button class="add md-accent md-raised md-icon-button" ng-click="addComponent($index, tempComponent)">
												<md-tooltip>Add Component</md-tooltip>
												<i class="material-icons">add_shopping_cart</i>
											</md-button>
										</div>
										<md-list class="components-list">
											<md-list-item class="component" ng-repeat="component in item.components">
												<md-input-container class="description">
													<label>Component Description</label>
													<input type="text" ng-model="component.description" />
												</md-input-container>
												<md-input-container class="quantity">
													<label>Quantity</label>
													<input type="number" width="3" ng-model="component.quantity" />
												</md-input-container>
											</md-list-item>

										</md-list>
									</div>
								</td>
							</tr>
						</table>
						<div flex></div>
						<md-card-title-media>
							<div class="md-media-sm card-media">
								<img ng-src="{{item.image.url}}">
							</div>
						</md-card-title-media>
					</md-card-content>

				</md-card>

				<!--
            
	            <div class="products" ng-show="shipping.items">
	                <div class="title">Items to Ship</div>
	                <div class="product" ng-repeat="product in shipping.items">
	                    {{product.description}}
	                    <table class="details">
	                        <tr>
	                            <td>Qty:</td>
	                            <td>{{product.quantity}}</td>
	                        </tr>
	                        <tr>
	                            <td>Custom Size:</td>
	                            <td>{{product.is_custom_size}}</td>
	                        </tr>
	                        <tr>
	                            <td>Width:</td>
	                            <td><input type="text" ng-class="{'active':product.is_custom_size}" ng-disabled="!product.is_custom_size" ng-model="product.width" />mm</td>
	                        </tr>
	                        <tr>
	                            <td>Depth:</td>
	                            <td><input type="text" ng-class="{'active':product.is_custom_size}" ng-disabled="!product.is_custom_size" ng-model="product.depth" />mm</td>
	                        </tr>
	                        <tr>
	                            <td>Height:</td>
	                            <td><input type="text" ng-class="{'active':product.is_custom_size}" ng-disabled="!product.is_custom_size" ng-model="product.height" />mm</td>
	                        </tr>
	                        <tr>
	                            <td>Net Weight:</td>
	                            <td><input type="text" ng-model="product.net_weight" />kg</td>
	                        </tr>
	                        <tr>
	                            <td>Gross Weight:</td>
	                            <td><input type="text" ng-model="product.gross_weight" />kg</td>
	                        </tr>
	                        <tr ui-if="product.fabric">
	                            <td>Fabric: </td>
	                            <td>
	                                {{product.fabric.description}}
	                                <img ng-src="{{product.fabric.image_url}}" />
	                            </td>
	                            <td>
                                
	                            </td>
                            
	                        </tr>
	                        <tr ng-repeat="pillow in product.pillows">
	                            <td>{{pillow.type | beautify}} Pillow</td>
	                            <td>{{pillow.fabric.description}}<img ng-src="{{pillow.fabric.image_url}}" /></td>
	                        </tr>
	                        <tr>
	                            <td>Comments:</td>
	                            <td><textarea cols="40" rows="4" ng-model="product.comments"></textarea></td>
	                        </tr>
	                    </table>
	                    <img ng-src="{{product.image.url}}" />
	                    <div class="remove_btn" ng-click="removeProduct($index)">Remove</div>
	                </div>
                
                
	            </div>
				-->
			</md-content>
        </div>
    </form>
    
</div>