

<div class="shipping-details-page" >
    
    
    <div class="calendar-modal" data-modal  ng-model="showCal">
        <div ui-date ng-model="shipping.delivery_date"></div>
        <div class="bottom_bar">
            <button ng-click="showCal = !showCal">Select</button>
        </div>
            
    </div>
    <!--
        Sidebar
    -->
    <div class="sidebar">
        <header>
            <h1><span>Shipping</span></h1>
        </header>
        <nav>
            <ul>
                <li ng-show="currentUser.hasPermission('change_acknowledgement')">
                    <div ng-click="save()">Save</div>
                </li>
                <li ng-show="currentUser.hasPermission('change_acknowledgement')">
                    <div ng-click="showCal=true">Change Delivery Date</div>
                </li>
                 <li>
                    <div ng-click="getPDF()">View PDF</div>
                </li>
                <li ui-if="currentUser.hasPermission('delete_acknowledgement')">
                    <div ng-click="remove()">Delete</div>
                </li>
            </ul>
        </nav>
    </div>

    <div class="workspace">
        <div class="details">
            <div class="table">
                <div class="row">
                    <div class="cell">Shipping#:</div>
                    <div class="cell">{{shipping.id}}</div>
                </div>
                <div class="row">
                    <div class="cell">Acknowledgement#:</div>
                    <a ng-href="#/order/acknowledgement/{{shipping.acknowledgement.id}}" class="cell">
                        {{shipping.acknowledgement.id}}
                    </a>
                </div>
                <div class="row">
                    <div class="cell">Customer</div>
                    <div class="cell">{{shipping.customer.name}}</div>
                </div>
                <div class="row">
                    <div class="cell">Delivery Date</div>
                    <div class="cell">{{shipping.delivery_date | date:"MMMM d, yyyy"}}</div>
                </div>
                <div class="row">
                    <div class="cell">Shipped By</div>
                    <div class="cell">{{shipping.employee}}</div>
                </div>
            </div>
        </div>
        
		<md-tabs class="md-primary" md-selected="selectedIndex">
			<md-tab label="Items">
				
			</md-tab>
			<!--
			<md-tab label="Attachments">
				
			</md-tab>
			-->
		</md-tabs>
		
		<div class="panel-container">
			<ng-switch on="selectedIndex">
				<div ng-switch-when="0" class="items-panel">
					
					<table>
						<thead>
							<tr>
								<td>PREVIEW</td>
								<td>DESCRIPTION</td>
								<td>WIDTH</td>
								<td>DEPTH</td>
								<td>NET WEIGHT</td>
								<td>GROSS WEIGHT</td>
								<td>STATUS</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in shipping.items">
								<td class="preview">
									<div class="img-container">
										<img ng-src="{{item.image.url}}" />
									</div>
								</td>
								<td class="description">{{item.description}}</td>
								<td class="width">{{item.width}}</td>
								<td class="depth">{{item.depth}}</td>
								<td class="height"><input type="text" ng-model="item.net_weight"/>kg</td>
								<td class="fabric"><input type="text" ng-model="item.gross_weight"/>kg</td>
								<td class="status" ng-class="item.status.toLowerCase()">{{item.status}}</td>
							</tr>
						</tbody>
					</table>
					
					<!--
					<div class="title-bar">
						<div class="preview">PREVIEW</div>
						<div class="description">DESCRIPTION</div>
						<div class="width">WIDTH</div>
						<div class="depth">DEPTH</div>
						<div class="height">HEIGHT</div>
						<div class="fabric">FABRIC</div>
						<div class="status">STATUS</div>
					</div>
					<div class="outer-container">
						<div class="inner-container">
							<div class="item-container" ng-repeat="item in acknowledgement.items">
								<a class="item"> <!-- ng-href="#/order/acknowledgement/item/{{item.id}}">-->
						<!--
									<div class="preview">
										<div class="img-container">
											<img ng-src="{{item.image.url}}" />
										</div>
									</div>
									<div class="description">{{item.description}}</div>
									<div class="width">{{item.width}}</div>
									<div class="depth">{{item.depth}}</div>
									<div class="height">{{item.height}}</div>
									<div class="fabric">{{item.fabric.description}}</div>
									<div class="status" ng-class="item.status.toLowerCase()">{{item.status}}</div>
								</a>
							</div>
						</div>
					</div>
							-->
				</div>
				<div ng-switch-when="1" class="file-panel">
					<div class="title-bar">
						<div class="filename">
							FILENAME
							
						</div>
						<div class="type">TYPE</div>
					</div>
					<div class="outer-container">
						<div class="inner-container">
							<div class="item-container" ng-repeat="file in acknowledgement.files">
								<a class="item" ng-href="{{file.url}}" target="_blank">
									<div class="filename">
										{{file.filename}}
										<md-progress-linear ng-show="!file.id" class="progress md-hue-2" md-mode="indeterminate"></md-progress-linear>
									</div>
									<div class="type">{{file.type}}</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</ng-switch>
		</div>
    </div>
    
    
    
</div>

