.room-details-page{
    .details-page;
    background-color: rgba(255, 255, 255, 1);
	
    .workspace{
        position:absolute;
        top:0;
        bottom:0;
        left:0;
		right:0;
		padding:15em 0 1em 0;
		background:#FFF;
		
        .details{
			position:absolute;
			width:100%;
			padding:1em;
			height:8em;
			top:0;
			left:0;
            color:rgba(0, 0, 0, 1);
			
			
			table{
				float:left;
				margin-top:0.25em;
				&:last-child{
					margin-left:2em;
				}
			}
			
			.due-date{
				cursor:pointer;
			}
			
			.customer{
				cursor:pointer;
			}
        }
		
        md-tabs{
        	position:absolute;
			top:9em;
			left:5%;
			width:90%;
        }
		
		.panel-container{
			//position:relative;
			height:100%;
			width:100%;
			
			.item-panel{
				display:flex;
				flex-direction:column;
				height:100%;
				align-items:center;
				overflow-y:scroll;
				
				table{
					width:90%;
					
					thead{
						position:sticky;
						
						tr{
							background-color:rgb(96,125,139);
							
							th{
								padding:1em;
								border-left: 1px dotted rgba(0, 0, 0, 0.35);
								font-family:proxima, Helvetica;
								color:rgba(255, 255, 255, 1);
								
								&:first-child{
									border-left:none;
								}
							}
						}
					}
					
					tbody{
						tr{
							border-bottom:1px dotted rgba(0, 0, 0, 0.35);
							
							td{
								padding:1em;
								border-left: 1px dotted rgba(0, 0, 0, 0.35);
								font-family:proxima, Helvetica;
								color:rgba(0, 0, 0, 1);
								
								&:first-child{
									border-left:none;
								}
								
								&.files{
									padding:0;
									width:15%;
									max-height:10em;

									div{
										max-height:10em;
										overflow-y:scroll;
										
										.files-table{
											width:100%;
											height:100%;
										}
									}
								}
							}
						}
					}
				}
				
				.title-bar{
					width:90%;
					display:flex;
					flex-direction:row;
					border-bottom: 1px solid #4F6874;
					background-color:rgb(96,125,139);
					
					div{
						display:flex;
						flex-direction:row;
						align-items:center;
						justify-content:space-around;
						padding:1em;
						background:rgb(96,125,139);
						color:rgba(255, 255, 255, 1);
						border-left:1px dotted rgba(0, 0, 0, 0.35);
				
						&:first-child{
							border-left:none;
						}
				
						&.description{
							width:12%;
						}
	
						&.reference{
							width:8%;
						}
						
						&.quantity{
							width:5%;
						}
						
						&.supplies{
							width:45%;
							
						}
						&.status{
							width:10%;
						}
						
						&.files{
							width:20%;
						}
					}
				}
        
		        .outer-container{
		            height:100%;
		            width:90%;
		            overflow-y:scroll;
			
		            .inner-container{
		                width:100%;
		                height:auto;
		                .item-container{
		                    width:100%;
		                    //background-color:red;
		                    position:relative;
		                    height:auto;
							top:0;
							
		                    &:hover{
		                        //background-color:red;
		                    }
							
							&.active{
								
								.item{
									background-color:rgba(79, 121, 113, 0.35);
								}
								
							}
                    		
							.placeholder{
								display:block;
								position:absolute;
								width:100%;
								height:100%;
								padding:0;
								background-color:rgba(255, 255, 255, 1);
								z-index:-1;
							}
							
		                    .item{
								display:flex;
								flex-direction:row;
		                        width:100%;
		                        background-color:rgba(255, 255, 255, 1);
		                        position:relative;
		                        left:0;
								top:0;
		                        font-size:1em;
		                        height:auto;
		                        border-bottom:1px dotted rgba(0, 0, 0, 0.35);
		                        text-decoration:none;
		                        color:#000;
		                        .transition(all, 150ms, linear);
                        
								&:hover{
		                            background-color:#E4EEF4;
		                        }
                        
		                        &.selected{
		                            background-color:orange;
		                        }
						
								
							
								
								
								div{
									display:flex;
									flex-direction:row;
									align-items:center;
									padding:1em;
									justify-content:flex-start;
									border-left:1px dotted rgba(0, 0, 0, 0.35);
							
									&:first-child{
										border-left:none;
									}
							
									&.description{
										width:12%;
									}
	
									&.reference{
										width:8%;
									}
									
									&.quantity{
										width:5%;
									}
									
									&.supplies{
										width:45%;
										max-height:20em;
										padding:0;
										display:flex;
										flex-direction:column;
										align-items:flex-start;
										
										.supplies-menu{
											display:flex;
											align-items:center;
											justify-content:flex-start;
											
											.md-button{
												margin-left:0.5em;
											}
										}
										
										.supplies-table-container{
											display:block;
											height:auto;
											width:100%;
											overflow-y:scroll;
											max-height:15em;
											padding:0;
											position:relative;
											border-top: 1px dashed rgba(0, 0, 0, 0.35);
											
											.supplies-table{
												width:100%;
												height:auto;
												
												tr{
													width:100%;
													padding:0;
													border:none;
													border-bottom: 1px dashed rgba(0, 0, 0, 0.35);
													
													&:last-child{
														border:none;
													}
													
													td{
														width:100%;
														display:flex;
														flex-direction:row;
														padding:0;
														border:none;
													
														.supply-container{
															width:100%;
															height:100%;
															padding:0;
															display:flex;
															flex-direction:row;
															justify-content:space-between;
															align-items:center;
														
															div{
																padding:0.25em;
																
																&.description{
																	width:60%;
																	padding-left:0.5em;
																}
															
																&.qty-container{
																	display:flex;
																	align-items:center;
																	height:100%;
																	padding:1em;
																	
																	input{
																		width:5em;
																		border:1px solid rgba(0, 0, 0, 0.35);
																	}
																}
															}
															
															
															.md-button{
																margin-right:0.5em;
															}
														}
													}
												}
											}
										}
									}
									
									&.status{
										width:10%;
								
										&.processed{
											color:#0098cd;
										}
								
										&.received{
											color:#54947A;
										}
									}
									
									&.files{
										width:20%;
										padding:0;
										max-height:20em;
										overflow-y:scroll;
										z-index:3;
										
										.files-table{
											width:100%;
											height:100%;
											top:0;
											
											tr{
												width:100%;
												border-bottom: 1px dashed rgba(0, 0, 0, 0.35);
												
												&:last-child{
													border:none;
												}
												
												td{
													width:100%;
												}
											}
										}
									}
								}
		                    }
		                }
		            }
		        }
			}
		}
    }
}
