<div class="payroll">
	<md-toolbar class="md-primary" layout="row">
		<h2>Run Payroll</h2>
		<div flex></div>
		<md-datepicker ng-model="start_date" ng-change="getEmployees()"></md-datepicker>
		<md-datepicker ng-model="end_date" ng-change="getEmployees()"></md-datepicker>
	</md-toolbar>
	<md-content>
		<md-list>
			<md-list-item ng-repeat="employee in employees" ng-class="{'even': $even}" layout="column">
				<div class="row-1" layout="row">
					<div class="col-1">
						<span>{{::employee.name}}</span>
						<div class="img-container">
							<img ng-src="{{employee.image.url}}">
						</div>
					</div>
					<div class="col-2">
						<md-input-container>
							<label>Regular Days Worked</label>
							<input type="number" ng-model="employee.regular_time" />
						</md-input-container>
					</div>
					<div class="col-3">
						<md-input-container>
							<label>Sundays Worked</label>
							<input type="number" ng-model="employee.sunday_time" />
						</md-input-container>
					</div>
					<div class="col-4">
						
					</div>
					<div class="col-5">
						<md-input-container>
							<label>Manager Stipend</label>
							<input type="number" ng-model="employee.manager_stipend" />
						</md-input-container>
					</div>
					<div class="col-6">
						<table class="summary">
							<tr>
								<td>Regular Wage:</td>
								<td>{{::employee.gross_wage | number: 2}}</td>
							</tr>
							<tr>
								<td>Overtime:</td>
								<td>{{::(employee.wage * 1.5) / 8 * employee.overtime | number: 2}}</td>
							</tr>
							<tr>
								<td>Sunday Wage:</td>
								<td>{{::(employee.wage * 2) * employee.sunday_time | number: 2}}</td>
							</tr>
							<tr>
								<td>Sunday Overtime:</td>
								<td>{{::(employee.wage * 3) / 8 * employee.sunday_overtime | number: 2}}</td>
							</tr>
							<tr>
								<td>Stipend:</td>
								<td>{{::employee.total_incentive_pay | number: 2}}</td>
							</tr>
							<tr>
								<td>Total:</td>
								<td>{{::employee.net_wage | currency: '฿': 2}}</td>
							</tr>
						</table>
					</div>
					
				</div>
				<div class="row-2" layout="row">
					<div class="col-1">
						<span ng-if="employee.pay_period == 'daily'">Daily Stipend: ฿{{::employee.incentive_pay || 0}} </span>
						<span>฿{{::employee.wage}}/{{::employee.pay_period == 'daily' ? 'day' : 'month'}}<span>
					</div>
					<div class="col-2">
						<md-input-container>
							<label>Overtime</label>
							<input type="number" ng-model="employee.overtime" />
						</md-input-container>
					</div>
					<div class="col-3">
						<md-input-container>
							<label>Sunday Overtime</label>
							<input type="number" ng-model="employee.sunday_overtime" />
						</md-input-container>
					</div>
					<div class="col-4">
						
					</div>
					<div class="col-5">
						<md-input-container>
							<label>Stipend Pay</label>
							<input type="number" ng-model="employee.total_incentive_pay" />
						</md-input-container>
					</div>
					<div class="col-6">
						{{::employee.social_security | currency: '฿': 2}}
					</div>
					
				</div>
			</md-list-item>
				
			<md-list-item>
				<md-button class="md-accent md-raised" ng-click="create()">Run Payroll</md-button>
			</md-list-item>
					
		</md-list>
	</md-content>
</div>