

@font:proxima;
.groupDetailsPage{
  	.detailsPage;
  
	left:0;
	  
	.workspace{
		
		md-toolbar{
			.search{
				color:rgb(0, 0, 0);
				font-family:proxima;
				outline:none;
				margin:0 1em;
				padding:0 1em;
			}
		}
		
		md-content{
			
			height:100%;
			
			md-list{
				
				md-list-item{
					display:flex;
					justify-content:space-between;
					
					.md-list-item-inner{
						justify-content:space-between;
					}
				}
			}
		}
	}
	
    
 
}
