<div>
    <div class="sidebar">
        <header>
            <h1>
                <span>Products</span>
            </h1>
        </header>
        <nav>
            <ul class="list">
                <li>
                    <a ng-href="#/product/model">Model</a>
                </li>
                <li>
                    <a ng-href="#/product/upholstery">Upholstery</a>
                </li>
                <li>
                    <a ng-href="#/product/table">Table</a>
                </li>
                <li>
                    <a ng-href="#/product/inventory">Inventory</a>
                </li>
            </ul>
        </nav>
        
    </div>
</div>