<div class="create-po-page add-page" fade-in>
    
    
    <!--
        Forms
    -->
    <div supplier-list="showSuppliers" on-select="addSupplier($supplier)"></div>
   	
	<div add-supplier="showAddSupplier" on-add="addSupplier($supplier)"></div>
	
    <div supply-list="showSupplies" supplier="po.supplier" on-select="addItem($supply)"></div>
    
    <div add-supply="showAddSupply" supplier='po.supplier' on-add="addItem($supply)">
    </div>
       
    <form class="po" name="form" novalidate>
        <!--
            Sidebar
        -->
        <!--
        <div class="sidebar">
            <header>
                <h1>
                    <span>Create Purchase Order</span>
                </h1>
            </header>
            <nav>
                <ul class="list">
                    <li><div ng-click="save()" >Create</div></li>
                    <li><div class="supplier" checkmark="po.supplier" x="!po.supplier" ng-click="showSuppliers=true">Add Supplier</div></li>
                    <li><div class="supply" checkmark="po.items && po.items.length" x="po.items.length==0 || !po.items" ng-click="showSupplies=true">Add Supply</div></li>
                   	<li><div class="supply" ng-click="showAddSupply=true">Create a Supply</div></li>
                    <li><div class="vat" checkmark="po.vat" x="!po.vat" ng-click="showVat=!showVat">Set Vat</div></li>
                    <li><div ng-click="reset()" >Reset</div></li>
                </ul>
            </nav>
            
        </div>
        -->
        <!--
            Panels
        -->
        
        
        
        
        
        
        
		
        <!--
            Workspace
        -->
			
        <div class="workspace">
				<div class="submenu">
                	<md-button class="create md-primary md-raised" ng-click="save()">Create</md-button>
                	<md-button class="reset md-warn md-raised" href="#/order/purchase_order">CANCEL</md-button>
				</div>
                <div class="supplier">
                    <h2 class="title">Supplier</h2>
					<div class="supplier-menu">
						<md-button class="add md-accent md-raised" ng-click="showSuppliers=true" ng-class="{'active':!po.supplier}">
							Select Supplier
						</md-button>
						<md-button class="change md-accent md-raised" ng-click="showSuppliers=true" ng-class="{'active':po.supplier}">
							Change Supplier
						</md-button>
						<md-button class="create-supplier md-accent md-raised" ng-click="showAddSupplier=true" ng-class="{'active':!po.supplier}">
							Create New Supplier
						</md-button>
					</div>
                    <table class="details" ng-class="{'active':po.supplier}">
                        <tr>
                            <td>Name:</td>
                            <td>{{po.supplier.name}}</td>
                        <tr>
                            <td>Address:</td>
                            <td>
                                {{po.supplier.address.address1}}
                                <br />
                                {{po.supplier.address.city}}, {{po.supplier.address.territory}}
                                <br />
                                {{po.supplier.address.country}} {{po.supplier.address.zipcode}}
                            </td>
                        </tr>
                        <tr>
                            <td>Telephone:</td>
                            <td>{{po.supplier.telephone}}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{po.supplier.email}}</td>
                        </tr>
                    </table>
                </div>
                
                <div class="order" ng-show="po.supplier">
					<h2 class="title">Order Particulars</h2>
                    <table class="details">
                        
                        <tr>
                            <td>Terms:</td>
                            <td><input type="number" class="vat" ng-model="po.terms" required maxlength="3" size="3" > Days</td>
                        <tr>
                            <td>Vat:</td>
                            <td><input type="number" class="vat" ng-model="po.vat" required maxlength="3" size="3" >%</td>
                        </tr>
                        <tr class="currency" ng-show="po.supplier" ng-class="{'active':po.supplier}">
                            <td>Currency:</td>
                            <td>
                                {{po.supplier.currency}}
                            </td>
                        </tr>
                        <tr>
                            <td>Project:</td>
                            <td>
								<select ng-options="project.codename for project in projects" ng-model="po.project" ng-disabled="po.newProject">
								<input class="new-project-checkbox" type="checkbox" ng-model="po.newProject" />New Project
								<input class="new-project-name" type="text" ng-model="po.newProjectName" ng-show="po.newProject">
                            </td>
                        </tr>
                        <tr>
                            <td>Discount:</td>
                            <td>
                                <input class="discount" type="number" size="2" maxlength="3" ng-model="po.discount" />%
                            </td>
                        </tr>
                        <tr>
                            <td>Deposit:</td>
                            <td>
								<select ng-model="po.deposit_type">
									<option value="percent">Percent</option>
									<option value="amount">Amount</option>
								</select>
                                <input type="text" size="6" maxlength="6" ng-model="po.deposit" />
								<span class="deposit-currency" ng-show="po.deposit_type=='amount'">{{po.supplier.currency}}</span>
								<span class="deposit-percent" ng-show="po.deposit_type=='percent'">%</span>
								
                            </td>
                        </tr>
                        <tr>
                            <td>Comments:</td>
                            <td>
                                <textarea rows="4" cols="20" ng-model="po.comments"></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
                
            
			<div class="order-details" ng-show="po.supplier">
                <h2 class="title">Items</h2>
				<div class="item-menu">
					<button class="add" ng-click="showSupplies=true"> + Add Supply</button>
					<button class="create" ng-click="showAddSupply=true">Create New Supply</button>
				</div>
				<table ng-show="po.items">
					<thead>
						<tr class='heading'>
							<td>Description</td>
							<td>Comments</td>
							<td>Discount</td>
							<td>Unit Cost</td>
							<td>Quantity</td>
							<td colspan="2">Total</td>
						</tr>
					</thead>
					<tbody>
						<tr class="items" ng-repeat="item in po.items">
							<td class='description'>{{item.description}}</td>
							<td><textarea ng-model=item.comments row="4"></textarea></td>
							<td class='discount'>
								<input required type="number" ng-model="item.discount"/> 
							</td>
							<td class='unit-cost'><input required type="number" ng-model="item.cost" /></td>
							<td class='quantity'>
								<input required type="number" ng-model="item.quantity" />
							</td>
							<td class='total'>{{unitCost(item.cost, item.discount) * item.quantity || 0 | number:2}}</td>
							<td><button class="remove-btn" ng-click="removeItem($index)">Remove</td>
						</tr>
						<tr class="summary subtotal">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td class="title">Subtotal</td>
							<td class="value">{{subtotal() || 0 | number:2}}</td>
							<td></td>
						</tr>
						<tr class="summary discount" ng-show="po.discount">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td class="title">Discount {{po.discount}}%</td>
							<td class="value">-{{discount() || 0 | number:2}}</td>
							<td></td>
						</tr>
						<tr class="summary total" ng-show="po.discount">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td class="title">Total</td>
							<td class="value"> {{total() || 0 | number:2}}</td>
							<td></td>
						</tr>
						<tr class="summary vat" ng-show="po.vat">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td class="title">Vat {{po.vat}}%</td>
							<td class="value">{{total() * (po.vat / 100) || 0 | number:2}}</td>
							<td></td>
						</tr>
						<tr class="summary grand-total" ng-show="po.vat">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td class="title">Grand Total</td>
							<td class="value">{{grandTotal() || 0 | number:2}}</td>
							<td></td>
						</tr>
					</tbody>
				</table>
			
			</div>
                
            </div>
            
        </div>
    </form>
    
</div>