

.create-po-page{
    opacity:0;
    .transition(opacity, 1s, linear);
    
    
    .addPage;
    /*
    *For Panels containing the suppliers and the supplies
    */
    .suppliers  {
        background-color:#313131;
        .container{
            position:absolute;
            width:100%;
            overflow-x:hidden;
            overflow-y:scroll;
            .list{
                width:100%;
                
                .item{
                    width:100%;
                    background:#313131;
                    padding:1em;
                    font-size:1em;
                    font-family:proxima;
                    color:#CCCCCC;
                    border-top: 1px solid #3c3c3c;
                    border-bottom: 1px solid #282828;
                    cursor:pointer;
                    .transition(all, 250ms, linear);
                    &:hover{
                        background:orange;
                        color:#FFFFFF;
                    }
                }
            }
        }
    }
   
    .supplies{
        .suppliers;
    }
    
    .quantity_modal{
        width:200px;
        margin-left:-100px;
        height:125px;
        top:150px;
        .title{
            text-align:center;
            min-height:0px;
            padding:0.4em;
        }
        input{
            width:100px;
            position:absolute;
            top:50px;
            left:50px;
            border:none;
            outline:none;
            padding:0px;
            text-align:center;
        }
    }
    
    
    .quantity_modal{
        width:200px;
        top:50%;
        left:50%;
        margin-left:-100px;
        margin-top:-100px;
        height:125px;
        background-color:#313131;
        .title{

            text-align:center;
            padding:0.2em 0em;
        }
        
        input{
            width:100px;
            position:absolute;
            top:50px;
            left:50px;
            border:none;
            outline:none;
            padding:0px;
            text-align:center;
        }
    }
    
    .vat_modal{
        height:9em;
        top:50%;
        left:50%;
        width:20em;
        margin-top:-4.5em;
        margin-left:-10em;
        
        input{
            width:100px;
            position:absolute;
            top:5em;
            left:100px;
            border:none;
            outline:none;
            padding:0.5em 0;
            text-align:center;
        }
        span{
            top:4.75em;
            position:absolute;
            right:90px;
            text-align:left;
            color:#FFFFFF;
        }
    }
    
    

.po{
    
    overflow-y:scroll;
    overflow-x:hidden;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background:#313131;
    
    
    
    
    .workspace{
        
        height:100%;
        width:100%;
        z-index:1;
        padding-bottom:50px;
      
      
      .supplier{
          position:relative;
          margin-left:20px;
          margin-top:40px;
          color:#FFF;
          .title{
              font-size:18px;   
          }
          .details{
              margin-top:20px;
              tr{
                  td{
                      line-height:1.6em;
                      font-size:0.8em;
                      font-family:proxima;
                      letter-spacing:0.08em;
                      //States
                      &:first-child{
                          color:#6B6B6B;   
                      }
                      &:last-child{
                          color:#828282;
                          padding-left:20px;   
                      }
                  }
              }
          }
      }
      
      .order{
          .supplier;
          
          tr{
              td{
                  padding:0.25em 0;
				  
				  .new-project-checkbox{
					  margin-left:2em;
					  margin-right:0.5em;
				  }
				  .new-project-name{
				  	
				  }
              }
          }
      }      
      .order-details{
	      	table{
				width:100%;
			
				tr{
					td{
						padding:0.25em 0.5em;
					}
				}
				thead{
					tr{
						td{
							color:#FFF;
							text-align:center;
						}
					}
				}
				tbody{
					font-family:proxima;
					letter-spacing:0.08em;
	        		.items{
				
				
						border:1px solid #282828;
	        			td{
	        				color:#CCC;
							text-align:right;
				
							&.description{
								text-align:left;
							}
				
							&.discount{
								text-align:center;
								input{
									text-align:center;
									width:2em;
								}
							}
				
							&.quantity{
								width:3em;
								text-align:center;
								input{
									text-align:center;
									width:3em;
								}
							}
				
							&.unit-cost{
								padding-right:3em;
								width:20%;
							}
				
							&.total{
								padding-right:3em;
								width:20%;
							}
							
							textarea{
								width:10em;
								
								&:focus{
									width:10em;
								}
							}
							
							.remove-btn{
								background-color:#313131;
								border:1px solid #282828;
								padding:0.25em 1em;
								border-radius:0.25em;
								color:white;
								font-family:proxima;
								letter-spacing:0.08em;
								font-size:0.8em;
								outline:none;
								.transition(background-color, 100ms, linear);
								
								&:hover{
									background-color:#2D2D2D;
								}
								&:active{
									background-color:#282828;
								}
							}
	        			}
	        		}
			
					.summary{
						color:#FFF;
						td{
							&.title{
								text-align:right;
								padding-right:3em;
							}
					
							&.value{
								text-align:right;
								padding-right:3em;
							}
						}
					}
					.subtotal{
						color:#FFF;
					}
			
					.discount{
						color:#FFF;
					}
				}
				.totals{
			
				}
	      	}
      	}
    }
    
  }
  
  //Page States
  &.fadeIn{
      opacity:1;
  }
}
