<form name="form" novalidate class="addFabricPage" image-drop-target="upload()">
	<div class="sidebar">
		<header>
			<div class="profilePic" ui-if="imagePreviews">
				<img ng-src="{{imagePreviews[0].url}}" />
			</div>
			<h1><span>Fabric</span></h1>
		</header>
		<nav>
			<ul>
				<li>
					<div ng-class="{dirty:form.$invalid}" ng-click="save()">Save</div>
				</li>
			</ul>
		</nav>
	</div>
	<div class="workspace">
		<table class="inputTable">
			<tr>
				<td>
					<label>Supplier</label>
				</td>
				<td>
					<select required tooltip="supplierText" , ng-options="supplier.name for supplier in supplierList" ng-model="fabric.supplier"></select>
				</td>
			</tr>
			<tr>
				<td>
					<label>Reference Number</label>
				</td>
				<td>
					<input type="text" tooltip="referenceText" ng-model="fabric.reference" />
				</td>
			</tr>
			<tr>
				<td>
					<label>Pattern</label>
				</td>
				<td>
					<input type="text" beautify tooltip="patternText" ng-model="fabric.pattern" required/>
				</td>
			</tr>
			<tr>
				<td>
					<label>Color</label>
				</td>
				<td>
					<input type="text" beautify tooltip="colorText" ng-model="fabric.color" required/>
				</td>
			</tr>
			<tr>
				<td>
					<label>Width</label>
				</td>
				<td>
					<input name="width" type="text" tooltip="widthText" ng-pattern="/^\d+(\.\d{2})?$/" ng-model="fabric.width" required/>
				</td>
			</tr>
			<tr>
				<td>
					<label>Cost per Yard</label>
				</td>
				<td>
					<input type="text" ng-model="fabric.cost" tooltip="costText" ng-pattern="/^\d+(\.\d{2})?$/" required/>{{fabric.supplier.currency}}</td>
			</tr>
			<tr>
				<td>
					<label>Current Length</label>
				</td>
				<td>
					<input type="text" ng-model="fabric.current_length" tooltip="lengthText" ng-pattern="/^\d+(\.\d{2})?$/" required />
				</td>
			</tr>
		</table>
	</div>
</form>
