.deal-view-page{
	background:rgb(230, 230, 230);
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	
	.workspace{
		position:absolute;
		height:100%;
		width:100%;
		top:0;
		left:0;
		.flex;
		.flex-direction(column);
		
		md-toolbar{
			.justify-content(flex-end);
			.align-items(center);
			.flex-direction(row);
			background:rgb(230, 230, 230);
			
			.search{
				min-width:20em;
				width:50%;
				outline:none;
				color:rgb(30,30,30);
				padding:0.25em 0.5em;
			}
			
			md-button{
				flex:0;
			}
		}
		
		md-content{
			height:100%;
			width:100%;
			background:rgb(230, 230, 230);
			
			.container{
				height:100%;
				width:100%;
				top:0;
				left:0;
				position:absolute;
				background:rgb(230, 230, 230);
				.flex;
				.flex-direction(row);
				.justify-content(space-around);
				
				md-card.stage{
					width:16%;
					//height:initial;
					//display:block;
					
					>md-card-title{
						background:rgb(220,220,220);
						border-bottom:1px solid darken(rgb(210, 210, 210), 10%);
						padding:0.5em;
						flex-grow:0;
						flex-shrink:0;
						pointer-events:none;
						min-height: 1.25em;
						
						md-card-title-text{
							text-align:center;
							pointer-events:none;
							h4{
								color:rgb(109, 120, 124);
								font-family:proxima;
								pointer-events:none;
							}
						}
					}
				
					md-card-content{
						height:100%;
						overflow-y:scroll;
						padding: 0 0.05em 1em 0.05em;
						flex-grow:2;
						//max-height:100%;
						//position:relative;
					
						
					}
					
					md-card-actions{
						background:#e9eced;
						color:rgb(109, 120, 124);
						padding:0.5em;
						margin:0;
						text-align:center;
					}
				}
			}
			
		}		
	}
}